:host {
  display: block;
  width: 100%;

  app-calendar-card {
    display: block;
  }
}

span.label {
  background: #757575;
  border-radius: 5px;
  padding: 3px 5px;
  display: inline-block;
  margin-left: 15px;
  color: #ffffff;
  font-size: 14px;
}
