@import '~@angular/material/core/theming/theming';
@import '../../../material/theme';

$remove-due-background: md-color($md-trello-business, A100);
$remove-due-font: md-contrast($md-trello-business, A100);

$archive-card-background: md-color($md-trello-business, 100);
$archive-card-font: md-contrast($md-trello-business, 100);

.removeDue,
.archiveCard {
  width: 50%;
  height: 100px;
  background: $remove-due-background;
  color: $remove-due-font;
  float: left;
  text-align: center;
  line-height: 100px;
  margin-top: 10px;
}

.removeDue {
  border-right: none;
  background: $archive-card-background;
  color: $archive-card-font;
}
