.removeDue,
.archiveCard {
  width: 50%;
  height: 100px;
  background: #e8e8e8;
  float: left;
  text-align: center;
  line-height: 100px;
  margin-top: 10px;
}

.archiveCard {
}

.removeDue {
  border-right: none;
  background: #f4f4f4;
}
