<div class="removeDue" dnd-droppable (onDropSuccess)="removeDue($event)" mdTooltip="Drop a Card to remove Due"
     mdTooltipPosition="above">
  Remove Due Date
</div>

<div class="markDone" dnd-droppable (onDropSuccess)="markDone($event)" mdTooltip="Drop a Card to mark as Done / Undone"
     mdTooltipPosition="above">
  Toggle Card Done
</div>

<div class="archiveCard" dnd-droppable (onDropSuccess)="archiveCard($event)" mdTooltip="Drop a Card to archive it"
     mdTooltipPosition="above">
  Archive Card
</div>
