<ion-view title="Card Details">
    <ion-content class="has-header padding">
{{data}}
        <div class="list card">
            <div class="item">
                <h2><a href="{{data.shortUrl}}"> {{data.name}}</a> <a class="pull-right"><i class="icon ion-share"></i>open in Trello</a></h2>
                <p>
                    <small>
                        Board: <a ng-href="{{data.boardUrl}}">{{data.boardName}}</a>
                        | last modified: {{ data.dateLastActivity |
                        date:'dd.MM.yyyy  HH:mm'}}
                            <span ng-if="data.due">|
                                <strong >expires: {{data.due | date:'dd.MM.yyyy  HH:mm'}}</strong>
                            </span>
                    </small>
                </p>
            </div>

            <div class="item item-body" ng-if="data.desc ">


                <a href="#" editable-textarea="data.desc" e-rows="7" e-cols="40" class="editArea" onaftersave="updateDesc(data.id,data.desc)">
                    <p>{{ data.desc || 'no description' }}</p>
                </a>


            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="{{data.shortUrl}}">
                    <!--ng-if="card.badges.comments"-->
                    <i class="icon ion-chatbox"></i> {{data.badges.comments}}
                    <span ng-if="data.badges.comments==1">Comment</span>
                    <span ng-if="data.badges.comments!=1">Comments</span>
                </a>
                <a class="tab-item" href="{{data.shortUrl}}">
                    <!--ng-if="card.badges.attachments"-->
                    <i class="icon ion-paperclip"></i> {{data.badges.attachments}}
                    <span ng-if="data.badges.attachments<2">Attachment</span>
                    <span ng-if="data.badges.attachments>=2">Attachments</span>
                </a>
                <a class="tab-item" ng-click="archiveCard(data.id)">
                    <i class="icon ion-trash-b"></i> archive
                </a>
                <a class="tab-item" ng-click="open(data.id,data.due)">
                    <i class="icon ion-clock"></i> change due date
                </a>

                <!--
                <a class="tab-item" ng-click="">
                    <i class="icon  ion-arrow-move"></i> move to another Board
                </a>
                <a class="tab-item" ng-click="">
                    <i class="icon  ion-person-aWdd"></i> add Members
                </a>


                -->


            </div>
        </div>

    </ion-content>
</ion-view>