<ion-view title="Month View">
    <ion-nav-buttons side="right">
        <div ng-switch="login">
            <button class="button button-positive" ng-switch-default ng-click="auth()">Login</button>
            <button class="button  button-positive" ng-click="refresh()"  ng-switch-when="true" ng-class="{animate: loading}"><i class="ion-refresh"></i></button>
            <button class="button  button-assertive" ng-switch-when="true" ng-click="logout()">Logout</button>
        </div>
    </ion-nav-buttons>
    <ion-content class="padding " padding="true" ng-class="view">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()"
                spinner="none"
                pulling-text=""
                >
        </ion-refresher>
<!--
        <div class="btn-group pull-right">
            <label class="btn btn-primary" ng-model="view" btn-radio="'month'">Month</label>
            <label class="btn btn-primary" ng-model="view" btn-radio="'week'">Week</label>
            <label class="btn btn-primary" ng-model="view" btn-radio="'day'">Day</label>
        </div>
-->











        <section ng-if="!$root.week">

            <div class="calNav row">
                <div class="col-xs-2">
                    <i class="ion-chevron-left" ng-click="move(-1)" ></i>
                </div>
                <div class="col-xs-8 text-center monthName">
                    {{date.monthName}}, {{date.year}}
                </div>
                <div class="col-xs-2 text-right">
                    <i class="ion-chevron-right" ng-click="move(1)"></i>
                </div>
            </div>

            <div class="filters" ng-class="{'colorize' : boardColors, 'defaultColor' : !boardColors }">
                <ui-select multiple ng-model="multipleDemo.selectedBoards"  ng-disabled="disabled">
                    <ui-select-match placeholder="Select board..."> <span class="inner" style="color:{{$item.color}}">{{$item.name}}</span></ui-select-match>
                    <ui-select-choices repeat="board in boards">
                        <div ng-bind-html="board.name | highlight: $select.search" ></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="listView">
                <div class="day header" ng-repeat="wd in weekdays"><span class="short">{{wd[0]}}</span><span class="long">{{wd[1]}}</span></div>



                <div ng-repeat="day in days"
                     class="day"
                     ng-class="{'dayOff': day.dayOff, 'dayOn' : !day.dayOff, 'has' : day.cards.length >= 1, 'today' :day.isToday}"
                     ng-drop="true"
                     ng-drop-success="onDropComplete($data,$event, $index, day.date)">
                    {{day.date | date:'medium'}}


                    {{day.cards}}

                </div>
            </div>
        </section>










        <section ng-if="$root.week" class="isWeekView">
            <div class="calNav row">
                <div class="col-xs-2">
                    <i class="ion-chevron-left" ng-click="moveWeek(-1)"></i> <!-- ng-click="move(-1)" -->
                </div>
                <div class="col-xs-8 text-center monthName">
                    {{date.monthName}}, {{date.year}}
                </div>
                <div class="col-xs-2 text-right">
                    <i class="ion-chevron-right" ng-click="moveWeek(1)" ></i>  <!-- ng-click="move(1)" -->
                </div>
            </div>
            <div class="filters" ng-class="{'colorize' : boardColors, 'defaultColor' : !boardColors }">
                <ui-select multiple ng-model="multipleDemo.selectedBoards"  ng-disabled="disabled">
                    <ui-select-match placeholder="Select board..."> <span class="inner" style="color:{{$item.color}}">{{$item.name}}</span></ui-select-match>
                    <ui-select-choices repeat="board in boards">
                        <div ng-bind-html="board.name | highlight: $select.search" ></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="listView">
                <div class="day header" ng-repeat="wd in weekdays"><span class="short">{{wd[0]}}</span><span class="long">{{wd[1]}}</span></div>
                <div ng-repeat="day in days | filter: weekFilter"
                     class="day"
                     ng-class="{'dayOff': day.dayOff, 'dayOn' : !day.dayOff, 'has' : day.cards.length >= 1, 'today' :day.isToday}"
                     ng-drop="true"
                     ng-drop-success="onDropComplete($data,$event, $index, day.date)">
                    {{day.date  | date:'medium'}}
                    {{day.cards}}

                </div>
            </div>
        </section>






















        <div class="dragOptions" ng-show="$root.DragProcess"> <!--ng-show="$root.DragProcess"-->
            <!--<div class="prevMonth option"
                  ng-drop="true"
                  ng-drop-success="changeMonth($data, 'prev', date.month)"
                    >Move Card to {{date.prev[0]}}, {{date.prev[1]}}</div>-->
            <div class="archive option"
                 ng-drop="true"
                 ng-drop-success="archiveCard($data)"
                    >archive card</div>
            <!-- <div class="nextMonth option"
                  ng-drop="true"
                  ng-drop-success="changeMonth($data, 'next', date.month)">
                 Move Card to {{date.next[0]}}, {{date.next[1]}}
             </div>-->
        </div>


        <div class="detail padding" ng-if="showDetail">
            <div class="detailOptions">
                <a class="" ng-href="{{singleCard.shortUrl}}" target="_blank"><span class="ion-android-open"></span></a>
                <span class="ion-close " ng-click="closeDetail()"></span>
            </div>


            <div class="row responsive-sm">
                <div class="col col-20"></div>
                <div class="col col-80"><h4><strong>   {{singleCard.name}}</strong></h4></div>
            </div>
            <div class="row responsive-sm">
                <div class="col col-20"><strong>Board:</strong></div>
                <div class="col col-80"><a ng-href="{{singleCard.boardUrl}}" target="_blank"> {{singleCard.boardName}}</a></div>
            </div>
            <div class="row responsive-sm">
                <div class="col col-20"><strong>Due date:</strong></div>
                <div class="col col-80">{{singleCard.dueDate| date:'dd.MM.yyyy  HH:mm'}}</div>
            </div>
            <div class="row responsive-sm">
                <div class="col col-20"><strong>Latest Activity:</strong></div>
                <div class="col col-80">{{singleCard.dateLastActivity| date:'dd.MM.yyyy  HH:mm'}}</div>
            </div>
            <div class="row responsive-sm" ng-if="singleCard.desc">
                <div class="col col-20"><strong>Description:</strong></div>
                <div class="col col-80">
                    <p>{{singleCard.desc}}</p>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col col-20"><strong>Members:</strong></div>
                <div class="col col-80">
                    <p>... / ... / ... </p>
                </div>
            </div>

            <span ng-if="singleCards.badges.comments">Kommentare:   {{singleCard.badges.comments}}</span>
            <span ng-if="singleCards.badges.comments">Kommentare:   {{singleCard.comments}}</span>
        </div>
    </ion-content>
</ion-view>
