<!-- DateTime-Picker Modal -->


<div class="modal-header">
    <h3 class="modal-title">{{data.title}}</h3>
</div>
<div class="modal-body">


    <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="date" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" readonly-time="false"></datetimepicker>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel(lg)">Cancel</button>
</div>
