@import '~@angular/material/theming';
@import '../../../material/theme';

$card-background: #edeff4;
$card-border-color: #e0e0e0;
$card-border-color-hover: #bdbdbd;

$card-background: mat-color($mat-trello-business, A100);
$card-border-color: mat-color($mat-trello-business, A100);
$card-border-color-hover: mat-color($mat-trello-business, A400);

a {
  position: relative;
  z-index: 99999999;
}

:host {
  display: block;
  background: $card-background;
  margin-bottom: 4px;
  padding: 6px 5px 5px;
  font-size: 10px;
  cursor: move !important;
  color: mat-contrast($mat-trello-business, A100);
  border-left: solid 7px;
  position: relative;
  line-height: 1.3;
  overflow: hidden;

  &:before {
    border: 1px solid $card-border-color;
    position: absolute;
    left: -1px;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    content: ' ';
  }

  &:hover:before {
    border-color: $card-border-color-hover;
  }
}

a {
  color: #30364C;
}

.headerRow {
  .left {
    float: left;
    width: 90%;

    overflow: hidden;

    a {
      float: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 95%;
      display: block;

      &.title {
        margin-bottom: 3px;
        font-weight: 400;
        font-size: 12px;
      }

      &.done {
        text-decoration: line-through;
        font-weight: 100;
      }
    }
  }

  $context-menu-size: 13px;
  .contextMenu {
    float: right;

    .mat-icon-button {
      width: $context-menu-size;
      height: $context-menu-size;
      line-height: $context-menu-size;
    }

    .mat-icon-button .mat-icon, .mat-icon-button i {
      line-height: $context-menu-size;
    }

    mat-icon {
      font-size: $context-menu-size;
    }
  }
}

.mat-menu-item {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}


.content {

  .left {
    float: left;
    width: 60%;

    span, a {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
      display: block;
    }
  }

  .right {
    float: right;
    width: 40%;
    position: relative;

    .memberPictures {
      margin-bottom: 2px;
      text-align: right;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;

      img {
        border: 1px solid transparent;
        margin: 0;
        max-width: 24px;
        width: 25%;
        align-self: center;
        padding: 0;
      }
    }
  }
}
