@import '~@angular/material/core/theming/theming';
@import '../../../material/theme';

$card-background: #edeff4;
$card-border-color: #e0e0e0;
$card-border-color-hover: #bdbdbd;

$card-background: md-color($md-trello-business, A100);
$card-border-color: md-color($md-trello-business, A200);
$card-border-color-hover: md-color($md-trello-business, A400);

:host {
  display: block;
  background: $card-background;
  margin-bottom: 4px;
  padding: 5px;
  font-size: 10px;
  cursor: move !important;
  color: md-contrast($md-trello-business, A100);
  border-left: solid 7px;
  position: relative;
  line-height: 1.5;
  overflow: hidden;

  &:before {
    border: 1px solid $card-border-color;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    content: ' ';

  }
  &:hover:before {
    border-color: $card-border-color-hover;
  }

  &.dueComplete {
    opacity: .7;

    .title {
      text-decoration: line-through;
    }
  }

  .due {
    float: right;
  }

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

}

a {
  color: #30364C;
  font-weight: 700;
}
