@import '~@angular/material/theming';
@import '../../../material/theme';

$card-background: #edeff4;
$card-border-color: #e0e0e0;
$card-border-color-hover: #bdbdbd;

$card-background: mat-color($md-trello-business, A100);
$card-border-color: mat-color($md-trello-business, A100);
$card-border-color-hover: mat-color($md-trello-business, A400);

a {
  position: relative;
  z-index: 99999999;
}

:host {
  display: block;
  background: $card-background;
  margin-bottom: 4px;
  padding: 6px 5px 5px;
  font-size: 10px;
  cursor: move !important;
  color: mat-contrast($md-trello-business, A100);
  border-left: solid 7px;
  position: relative;
  line-height: 1.3;
  overflow: hidden;

  &:before {
    border: 1px solid $card-border-color;
    position: absolute;
    left: -1px;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    content: ' ';
  }

  &:hover:before {
    border-color: $card-border-color-hover;
  }

  .due {
    float: right;
  }

  a {
    &.title {
      margin-bottom: 3px;
      font-weight: 700;
    }
  }

  &.dueComplete {
    opacity: .7;
    background: darken($card-background, 20%);
    .title {
      text-decoration: line-through;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

a {
  color: #30364C;
}

.left {
  float: left;
  width: 70%;
  overflow: hidden;

  > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: block;
  }
}

.right {
  float: right;
  width: 30%;
  //margin-top: 3px;
  position: relative;

  .due {
    float: left;
    width: 50%;
  }

  $context-menu-size: 12px;
  .contextMenu {
    float: right;

    .mat-icon-button {
      width: $context-menu-size;
      height: $context-menu-size;
      line-height: $context-menu-size;
    }

    .mat-icon-button .mat-icon, .mat-icon-button i {
      line-height: $context-menu-size;
    }

    md-icon {
      font-size: $context-menu-size;
    }
  }

  .memberPictures {
    margin-bottom: 2px;
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    img {
      border: 1px solid transparent;
      margin: 0;
      width: 33.3%;
      align-self: center;
      padding: 0;
    }
  }
}

.mat-menu-item {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
