<md-bottom-sheet class="md-list">
    <md-list>
        <md-list-item ng-repeat="item in actions" ng-click="listItemClick(item.identifier)">

            <ng-md-icon icon="{{item.icon}}" style="fill: #666" size="24"></ng-md-icon>
            <div class="md-list-item-text">
                <p> {{item.name}} </p>
            </div>


        </md-list-item>
    </md-list>


    <md-subheader>or..</md-subheader>


    <md-list>
        <md-list-item ng-repeat="item in more" ng-click="listItemClick(item.identifier)">

            <ng-md-icon icon="{{item.icon}}" style="fill: #666" size="24"></ng-md-icon>
            <div class="md-list-item-text">
                <p> {{item.name}} </p>
            </div>


        </md-list-item>
    </md-list>


</md-bottom-sheet>





<!--<md-bottom-sheet class="md-list md-has-header">-->
    <!--<md-subheader>Comment Actions</md-subheader>-->
    <!--<md-list>-->
        <!--<md-list-item ng-repeat="item in items">-->
            <!--<md-button class="md-list-item-content" ng-click="listItemClick(item.identifier)">-->

                <!--<ng-md-icon icon="{{item.icon}}"   style="fill: #333" size="22" ></ng-md-icon>-->

                <!--<span class="md-inline-list-icon-label">{{ item.name }}</span>-->
            <!--</md-button>-->
        <!--</md-list-item>-->
    <!--</md-list>-->
<!--</md-bottom-sheet>-->













<!--



            <ng-md-icon icon="today" style="fill: #666" size="24"></ng-md-icon>
            <div class="md-list-item-text">
                <p> Month </p>
            </div>
        </md-list-item>


-->