<div class="weekHeader eqWrap">
  <div class="slot day basis{{settings.weekDays}}" *ngFor="let day of calendar$ | async" [ngClass]="{'today': day.isToday}">
    {{ day.date | date: "d" }}
  </div>
</div>

<div class=" eqWrap">
  <div [class.slot]="settings.weekViewShowHours" class="day basis{{settings.weekDays}}" *ngFor="let slot of slots"
       [class.collapse]="slot.cards.length == 0"
       [class.nighttime]="slot.hours < settings.businessHoursStart || slot.hours >= settings.businessHoursEnd"
  >
    <div class="inner" dnd-droppable
         (onDropSuccess)="onDropSuccess($event, slot)"
         (onDragSuccess)="onDropSuccess($event, slot)">
      <div class="time" *ngIf="settings.weekViewShowHours">{{ slot.time }}</div>
      <app-calendar-card
        *ngFor="let card of slot.cards; let x = index"
        [dragData]="card" [card]="card"
        [dragEnabled]="true"
        dnd-draggable>
      </app-calendar-card>
    </div>
  </div>
</div>
