<h1 md-dialog-title>Add a Card</h1>

<form [formGroup]="cardForm" #form="ngForm" (ngSubmit)="onSubmit(cardForm)" novalidate>

  <div md-dialog-content>
    <md-input-container class="full-width">
      <input md-input placeholder="Card Title" formControlName="name">
      <md-hint *ngIf="cardForm.get('name').touched && cardForm.get('name').hasError('required')" class="error">
        Card Title is required!
      </md-hint>
    </md-input-container>

    <md-input-container class="full-width">
      <input md-input placeholder="Due Date" formControlName="due" type="datetime-local">
    </md-input-container>

    <md-input-container class="full-width">
      <input md-input placeholder="Card Description" formControlName="desc">
    </md-input-container>

    <div class="md-select-wrapper">
      <md-select class="full-width" class="full-width" formControlName="idBoard" placeholder="Board">
        <md-option *ngFor="let board of boards" [value]="board.id">{{board.name}}</md-option>
      </md-select>
      <md-hint *ngIf="cardForm.get('idBoard').touched && cardForm.get('idBoard').hasError('required')" class="error">
        Board is required!
      </md-hint>
    </div>

    <div class="md-select-wrapper">
      <md-select class="full-width" class="full-width" formControlName="idList" placeholder="List">
        <md-option *ngFor="let list of lists" [value]="list.id">{{list.name}}</md-option>
      </md-select>
      <md-hint *ngIf="cardForm.get('idList').touched && cardForm.get('idList').hasError('required')" class="error">
        List is required!
      </md-hint>
    </div>

    <div class="md-select-wrapper">
      <!-- ToDo: add support for multiple members - currently blocked because of material2 -->
      <md-select class="full-width" class="full-width" formControlName="idMembers" multiple placeholder="Members">
        <md-option *ngFor="let member of members" [value]="member.id">{{member.fullName}}, {{member.username}}
        </md-option>
      </md-select>
    </div>

  </div>

  <div md-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button md-button="" type="button" (click)="dialogRef.close(false)">
      Cancel
    </button>
    <button type="submit" md-button color="primary" [disabled]="!cardForm.valid">
      Save
    </button>
  </div>

</form>
