.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.md-select-wrapper {
  position: relative;
  margin-bottom: 20px;

  // delete if size and spacing is consistent in MD
  .error {
    font-size: 75%;
  }
}

:host {
  height: auto;
}


.required-hint {
  color: #9e9e9e;
  font-size: 9pt;
}
