<md-card class="board-card">
  <md-card-header>
    <md-card-title>Privacy Policy</md-card-title>
  </md-card-header>
  <md-card-content>


    <h2>1. An overview of data protection</h2>
    <h3>General</h3>
    <p>The following gives a simple overview of what happens to your personal information when you visit our website.
      Personal information is any data with which you could be personally identified. Detailed information on the
      subject of data protection can be found in our privacy policy found below.</p>
    <h3>Data collection on our website</h3>
    <p><strong>Who is responsible for the data collection on this website?</strong></p>
    <p>The data collected on this website are processed by the website operator. The operator's contact details can be
      found in the website's required legal notice.</p>
    <p><strong>How do we collect your data?</strong></p>
    <p>Some data are collected when you provide it to us. This could, for example, be data you enter on a contact
      form.</p>
    <p>Other data are collected automatically by our IT systems when you visit the website. These data are primarily
      technical data such as the browser and operating system you are using or when you accessed the page. These data
      are collected automatically as soon as you enter our website.</p>
    <p><strong>What do we use your data for?</strong></p>
    <p>Part of the data is collected to ensure the proper functioning of the website. Other data can be used to analyze
      how visitors use the site.</p>
    <p><strong>What rights do you have regarding your data?</strong></p>
    <p>You always have the right to request information about your stored data, its origin, its recipients, and the
      purpose of its collection at no charge. You also have the right to request that it be corrected, blocked, or
      deleted. You can contact us at any time using the address given in the legal notice if you have further questions
      about the issue of privacy and data protection. You may also, of course, file a complaint with the competent
      regulatory authorities.</p>
    <h3>Analytics and third-party tools</h3>
    <p>When visiting our website, statistical analyses may be made of your surfing behavior. This happens primarily
      using cookies and analytics. The analysis of your surfing behavior is usually anonymous, i.e. we will not be able
      to identify you from this data. You can object to this analysis or prevent it by not using certain tools. Detailed
      information can be found in the following privacy policy.</p>
    <p>You can object to this analysis. We will inform you below about how to exercise your options in this regard.</p>
    <h2>2. General information and mandatory information</h2>
    <h3>Data protection</h3>
    <p>The operators of this website take the protection of your personal data very seriously. We treat your personal
      data as confidential and in accordance with the statutory data protection regulations and this privacy policy.</p>
    <p>If you use this website, various pieces of personal data will be collected. Personal information is any data with
      which you could be personally identified. This privacy policy explains what information we collect and what we use
      it for. It also explains how and for what purpose this happens.</p>
    <p>Please note that data transmitted via the internet (e.g. via email communication) may be subject to security
      breaches. Complete protection of your data from third-party access is not possible.</p>
    <h3>Notice concerning the party responsible for this website</h3>
    <p>The party responsible for processing data on this website is:</p>
    <p>W11K GmbH<br/>
      <br/>
      Martinstraße 42-44<br/>
      73728 Esslingen a. N.</p>

    <p>Telephone: +49 711 459998 0<br/>
      Email: datenschutz@w11k.de</p>
    <p>The responsible party is the natural or legal person who alone or jointly with others decides on the purposes and
      means of processing personal data (names, email addresses, etc.).</p>
    <h3>Revocation of your consent to the processing of your data</h3>
    <p>Many data processing operations are only possible with your express consent. You may revoke your consent at any
      time with future effect. An informal email making this request is sufficient. The data processed before we receive
      your request may still be legally processed.</p>
    <h3>Right to file complaints with regulatory authorities</h3>
    <p>If there has been a breach of data protection legislation, the person affected may file a complaint with the
      competent regulatory authorities. The competent regulatory authority for matters related to data protection
      legislation is the data protection officer of the German state in which our company is headquartered. A list of
      data protection officers and their contact details can be found at the following link: <a
        href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
    </p>
    <h3>Right to data portability</h3>
    <p>You have the right to have data which we process based on your consent or in fulfillment of a contract
      automatically delivered to yourself or to a third party in a standard, machine-readable format. If you require the
      direct transfer of data to another responsible party, this will only be done to the extent technically
      feasible.</p>
    <h3>SSL or TLS encryption</h3>
    <p>This site uses SSL or TLS encryption for security reasons and for the protection of the transmission of
      confidential content, such as the inquiries you send to us as the site operator. You can recognize an encrypted
      connection in your browser's address line when it changes from "http://" to "https://" and the lock icon is
      displayed in your browser's address bar.</p>
    <p>If SSL or TLS encryption is activated, the data you transfer to us cannot be read by third parties.</p>
    <h3>Information, blocking, deletion</h3>
    <p>As permitted by law, you have the right to be provided at any time with information free of charge about any of
      your personal data that is stored as well as its origin, the recipient and the purpose for which it has been
      processed. You also have the right to have this data corrected, blocked or deleted. You can contact us at any time
      using the address given in our legal notice if you have further questions on the topic of personal data.</p>
    <h2>3. Data protection officer</h2>
    <h3>Statutory data protection officer</h3>
    <p>We have appointed a data protection officer for our company.</p>
    <p>Felicitas Proelß<br/>
      <br/>
      W11K GmbH<br/>
      Martinstraße 42-44<br/>
      73728 Esslingen<br/>
      Deutschland</p>

    <p>Telephone: +49 711 45999 - 800<br/>
      Email: proelss@w11k.de</p>
    <h2>4. Data collection on our website</h2>
    <h3>Cookies</h3>
    <p>Some of our web pages use cookies. Cookies do not harm your computer and do not contain any viruses. Cookies help
      make our website more user-friendly, efficient, and secure. Cookies are small text files that are stored on your
      computer and saved by your browser.</p>
    <p>Most of the cookies we use are so-called "session cookies." They are automatically deleted after your visit.
      Other cookies remain in your device's memory until you delete them. These cookies make it possible to recognize
      your browser when you next visit the site.</p>
    <p>You can configure your browser to inform you about the use of cookies so that you can decide on a case-by-case
      basis whether to accept or reject a cookie. Alternatively, your browser can be configured to automatically accept
      cookies under certain conditions or to always reject them, or to automatically delete cookies when closing your
      browser. Disabling cookies may limit the functionality of this website.</p>
    <p>Cookies which are necessary to allow electronic communications or to provide certain functions you wish to use
      (such as the shopping cart) are stored pursuant to Art. 6 paragraph 1, letter f of DSGVO. The website operator has
      a legitimate interest in the storage of cookies to ensure an optimized service provided free of technical errors.
      If other cookies (such as those used to analyze your surfing behavior) are also stored, they will be treated
      separately in this privacy policy.</p>
    <h3>Server log files</h3>
    <p>The website provider automatically collects and stores information that your browser automatically transmits to
      us in "server log files". These are:</p>
    <ul>
      <li>Browser type and browser version</li>
      <li>Operating system used</li>
      <li>Referrer URL</li>
      <li>Host name of the accessing computer</li>
      <li>Time of the server request</li>
      <li>IP address</li>
    </ul>
    <p>These data will not be combined with data from other sources.</p>
    <p>The basis for data processing is Art. 6 (1) (f) DSGVO, which allows the processing of data to fulfill a contract
      or for measures preliminary to a contract.</p>
    <h2>5. Analytics and advertising</h2>
    <h3>Google Analytics</h3>
    <p>This website uses Google Analytics, a web analytics service. It is operated by Google Inc., 1600 Amphitheatre
      Parkway, Mountain View, CA 94043, USA.</p>
    <p>Google Analytics uses so-called "cookies". These are text files that are stored on your computer and that allow
      an analysis of the use of the website by you. The information generated by the cookie about your use of this
      website is usually transmitted to a Google server in the USA and stored there.</p>
    <p>Google Analytics cookies are stored based on Art. 6 (1) (f) DSGVO. The website operator has a legitimate interest
      in analyzing user behavior to optimize both its website and its advertising.</p>
    <p><strong>IP anonymization</strong></p>
    <p>We have activated the IP anonymization feature on this website. Your IP address will be shortened by Google
      within the European Union or other parties to the Agreement on the European Economic Area prior to transmission to
      the United States. Only in exceptional cases is the full IP address sent to a Google server in the US and
      shortened there. Google will use this information on behalf of the operator of this website to evaluate your use
      of the website, to compile reports on website activity, and to provide other services regarding website activity
      and Internet usage for the website operator. The IP address transmitted by your browser as part of Google
      Analytics will not be merged with any other data held by Google.</p>
    <p><strong>Browser plugin</strong></p>
    <p>You can prevent these cookies being stored by selecting the appropriate settings in your browser. However, we
      wish to point out that doing so may mean you will not be able to enjoy the full functionality of this website. You
      can also prevent the data generated by cookies about your use of the website (incl. your IP address) from being
      passed to Google, and the processing of these data by Google, by downloading and installing the browser plugin
      available at the following link: <a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=en</a>.
    </p>
    <p><strong>Objecting to the collection of data</strong></p>
    <p>You can prevent the collection of your data by Google Analytics by clicking on the following link. An opt-out
      cookie will be set to prevent your data from being collected on future visits to this site: <a
        href="javascript:gaOptout();">Disable Google Analytics</a>.</p>
    <p>For more information about how Google Analytics handles user data, see Google's privacy policy: <a
      href="https://support.google.com/analytics/answer/6004245?hl=en" target="_blank">https://support.google.com/analytics/answer/6004245?hl=en</a>.
    </p>
    <p><strong>Outsourced data processing</strong></p>
    <p>We have entered into an agreement with Google for the outsourcing of our data processing and fully implement the
      strict requirements of the German data protection authorities when using Google Analytics.</p>
    <p><strong>Demographic data collection by Google Analytics</strong></p>
    <p>This website uses Google Analytics' demographic features. This allows reports to be generated containing
      statements about the age, gender, and interests of site visitors. This data comes from interest-based advertising
      from Google and third-party visitor data. This collected data cannot be attributed to any specific individual
      person. You can disable this feature at any time by adjusting the ads settings in your Google account or you can
      forbid the collection of your data by Google Analytics as described in the section "Refusal of data
      collection".</p>

    <h3>Google Analytics Remarketing</h3>
    <p>Our websites use the features of Google Analytics Remarketing combined with the cross-device capabilities of
      Google AdWords and DoubleClick. This service is provided by Google Inc., 1600 Amphitheater Parkway, Mountain View,
      CA 94043, USA.</p>
    <p>This feature makes it possible to link target audiences for promotional marketing created with Google Analytics
      Remarketing to the cross-device capabilities of Google AdWords and Google DoubleClick. This allows advertising to
      be displayed based on your personal interests, identified based on your previous usage and surfing behavior on one
      device (e.g. your mobile phone), on other devices (such as a tablet or computer).</p>
    <p>Once you have given your consent, Google will associate your web and app browsing history with your Google
      Account for this purpose. That way, any device that signs in to your Google Account can use the same personalized
      promotional messaging.</p>
    <p>To support this feature, Google Analytics collects Google-authenticated IDs of users that are temporarily linked
      to our Google Analytics data to define and create audiences for cross-device ad promotion.</p>
    <p>You can permanently opt out of cross-device remarketing/targeting by turning off personalized advertising in your
      Google Account; follow this link: <a href="https://www.google.com/settings/ads/onweb/" target="_blank">https://www.google.com/settings/ads/onweb/</a>.
    </p>
    <p>The aggregation of the data collected in your Google Account data is based solely on your consent, which you may
      give or withdraw from Google per Art. 6 (1) (a) DSGVO. For data collection operations not merged into your Google
      Account (for example, because you do not have a Google Account or have objected to the merge), the collection of
      data is based on Art. 6 (1) (f) DSGVO. The website operator has a legitimate interest in analyzing anonymous user
      behavior for promotional purposes.</p>
    <p>For more information and the Google Privacy Policy, go to: <a
      href="https://www.google.com/policies/technologies/ads/" target="_blank">https://www.google.com/policies/technologies/ads/</a>.
    </p>
    <h3>Google AdWords and Google Conversion Tracking</h3>
    <p>This website uses Google AdWords. AdWords is an online advertising program from Google Inc., 1600 Amphitheater
      Parkway, Mountain View, CA 94043, United States ("Google").</p>
    <p>As part of Google AdWords, we use so-called conversion tracking. When you click on an ad served by Google, a
      conversion tracking cookie is set. Cookies are small text files that your internet browser stores on your
      computer. These cookies expire after 30 days and are not used for personal identification of the user. Should the
      user visit certain pages of the website and the cookie has not yet expired, Google and the website can tell that
      the user clicked on the ad and proceeded to that page.</p>
    <p>Each Google AdWords advertiser has a different cookie. Thus, cookies cannot be tracked using the website of an
      AdWords advertiser. The information obtained using the conversion cookie is used to create conversion statistics
      for the AdWords advertisers who have opted for conversion tracking. Customers are told the total number of users
      who clicked on their ad and were redirected to a conversion tracking tag page. However, advertisers do not obtain
      any information that can be used to personally identify users. If you do not want to participate in tracking, you
      can opt-out of this by easily disabling the Google Conversion Tracking cookie by changing your browser settings.
      In doing so, you will not be included in the conversion tracking statistics.</p>
    <p>Conversion cookies are stored based on Art. 6 (1) (f) DSGVO. The website operator has a legitimate interest in
      analyzing user behavior to optimize both its website and its advertising.</p>
    <p>For more information about Google AdWords and Google Conversion Tracking, see the Google Privacy Policy: <a
      href="https://www.google.de/policies/privacy/" target="_blank">https://www.google.de/policies/privacy/</a>.</p>
    <p>You can configure your browser to inform you about the use of cookies so that you can decide on a case-by-case
      basis whether to accept or reject a cookie. Alternatively, your browser can be configured to automatically accept
      cookies under certain conditions or to always reject them, or to automatically delete cookies when closing your
      browser. Disabling cookies may limit the functionality of this website.</p>
    <h3>Google reCAPTCHA</h3>
    <p>We use "Google reCAPTCHA" (hereinafter "reCAPTCHA") on our websites. This service is provided by Google Inc.,
      1600 Amphitheater Parkway, Mountain View, CA 94043, USA ("Google").</p>
    <p>reCAPTCHA is used to check whether the data entered on our website (such as on a contact form) has been entered
      by a human or by an automated program. To do this, reCAPTCHA analyzes the behavior of the website visitor based on
      various characteristics. This analysis starts automatically as soon as the website visitor enters the website. For
      the analysis, reCAPTCHA evaluates various information (e.g. IP address, how long the visitor has been on the
      website, or mouse movements made by the user). The data collected during the analysis will be forwarded to
      Google.</p>
    <p>The reCAPTCHA analyses take place completely in the background. Website visitors are not advised that such an
      analysis is taking place.</p>
    <p>Data processing is based on Art. 6 (1) (f) DSGVO. The website operator has a legitimate interest in protecting
      its site from abusive automated crawling and spam.</p>
    <p>For more information about Google reCAPTCHA and Google's privacy policy, please visit the following links: <a
      href="https://www.google.com/intl/de/policies/privacy/" target="_blank">https://www.google.com/intl/de/policies/privacy/</a>
      and <a href="https://www.google.com/recaptcha/intro/android.html" target="_blank">https://www.google.com/recaptcha/intro/android.html</a>.
    </p>
    <h2>6. Plugins and tools</h2>
    <h3>Google Web Fonts</h3>
    <p>For uniform representation of fonts, this page uses web fonts provided by Google. When you open a page, your
      browser loads the required web fonts into your browser cache to display texts and fonts correctly.</p>
    <p>For this purpose your browser has to establish a direct connection to Google servers. Google thus becomes aware
      that our web page was accessed via your IP address. The use of Google Web fonts is done in the interest of a
      uniform and attractive presentation of our website. This constitutes a justified interest pursuant to Art. 6 (1)
      (f) DSGVO.</p>
    <p>If your browser does not support web fonts, a standard font is used by your computer.</p>
    <p>Further information about handling user data, can be found at <a href="https://developers.google.com/fonts/faq"
                                                                        target="_blank">https://developers.google.com/fonts/faq</a>
      and in Google's privacy policy at <a href="https://www.google.com/policies/privacy/" target="_blank">https://www.google.com/policies/privacy/</a>.
    </p>
    <h2>7. Payment service providers</h2>
    <h3>PayPal</h3>
    <p>Our website accepts payments via PayPal. The provider of this service is PayPal (Europe) S.à.r.l & Cie, S.C.A.
      (22-24 Boulevard Royal, L-2449 Luxembourg.</p>
    <p>If you select payment via PayPal, the payment data you provide will be supplied to PayPal based on Art. 6 (1) (a)
      (Consent) and Art. 6 (1) (b) DSGVO (Processing for contract purposes). You have the option to revoke your consent
      at any time with future effect. It does not affect the processing of data previously collected.</p>


  </md-card-content>
</md-card>






