<mat-card class="board-card">
  <mat-card-header>
    <mat-card-title>Privacy Policy</mat-card-title>
  </mat-card-header>
  <mat-card-content>


    <h3 class="text-center">Datenschutzerklärung</h3>
    <br>

    <h4>1. Allgemeine Informationen</h4>
    <p>
      Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
      personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
      Datenschutzerklärung.
    </p>
    <p>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind
      Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche
      Daten wir auf welche Weise erheben und wofür wir sie nutzen. Wir informieren zudem, wer die Daten bekommt bzw. wo
      sie gespeichert werden. Abschließend möchten wir Sie dazu unterrichten, wie lange die Daten gespeichert werden und
      Sie über Ihre Rechte als Betroffener in Kenntnis setzen. </p>
    <p>Wir haben technische und organisatorische Maßnahmen getroffen, die sicherstellen, dass die Vorschriften über den
      Datenschutz sowohl von uns als auch von externen Dienstleistern beachtet werden.</p>

    <h4>2. Name und Kontaktdaten des für die Verarbeitung Verantwortlichen sowie des betrieblichen
      Datenschutzbeauftragten</h4>
    <p><i>Wer ist für die Datenverarbeitung verantwortlich und an wen kann ich mich wenden?</i></p>
    <p>Verantwortlicher für die Datenverarbeitung auf dieser Website ist:</p>
    <p>
      W11K GMBH <br>
      Martinstraße 42-44 <br>
      73728 Esslingen a. N.
    </p>
    <p>Geschäftsführung <br>
      Jan Blankenhorn, Roman Roelofsen</p>
    <p>
      Telefon: +49 711 459998 0 <br>
      E-Mail: info@w11k.de
    </p>
    <p>Sie erreichen unseren betrieblichen Datenschutzbeauftragten unter:</p>
    <p>
      W11K GMBH <br>
      Datenschutzbeauftragter <br>
      Martinstraße 42-44 <br>
      73728 Esslingen a. N. <br>
    </p>
    <p>
      Telefon: +49 711 459998 0 <br>
      E-Mail: datenschutz@w11k.de
    </p>
    <h4>3. Erhebung und Speicherung personenbezogener Daten sowie Art und Zweck von deren Verwendung</h4>
    <p><i>Welche Daten nutzen wir? Zu welchem Zweck verarbeiten wir Ihre Daten und auf welcher Rechtsgrundlage?</i></p>
    <p>Im Folgenden möchten wir Ihnen erläutern, bei welchen Aktionen auf unserer Website welche Daten von Ihnen genutzt
      werden, zu welchem Zweck dies geschieht und auf welcher rechtlichen Grundlage.</p>
    <h5><strong>a) Beim Besuch unserer Website</strong></h5>
    <p>
      Beim Aufrufen unserer Website werden durch den auf Ihrem Endgerät zum Einsatz kommenden Browser automatisch
      Informationen an den Server unserer Website gesendet. Diese Informationen werden temporär in einem sog. Logfile
      gespeichert. Folgende Informationen werden dabei ohne Ihr Zutun erfasst und bis zur automatisierten Löschung
      gespeichert:
    </p>
    <ul>
      <li>IP-Adresse des anfragenden Rechners,</li>
      <li>Hostname des zugreifenden Rechners,</li>
      <li>Datum und Uhrzeit des Zugriffs,</li>
      <li>Name und URL der abgerufenen Datei,</li>
      <li>Website, von der aus der Zugriff erfolgt (Referrer-URL),</li>
      <li>verwendeter Browser (Typ und Version) und ggf. das Betriebssystem Ihres Rechners sowie der Name Ihres
        Access-Providers.
      </li>
    </ul>
    <p>
      Die genannten Daten werden durch uns zu folgenden Zwecken verarbeitet: Gewährleistung eines reibungslosen
      Verbindungsaufbaus der Website, Gewährleistung einer komfortablen Nutzung unserer Website, Auswertung der
      Systemsicherheit und -stabilität sowie zu weiteren administrativen Zwecken.
    </p>
    <p>Die Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 S. 1 lit. f DSGVO. Unser berechtigtes Interesse
      folgt aus oben aufgelisteten Zwecken zur Datenerhebung. In keinem Fall verwenden wir die erhobenen Daten zu dem
      Zweck, Rückschlüsse auf Ihre Person zu ziehen. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht
      vorgenommen. Darüber hinaus setzen wir beim Besuch unserer Website Cookies sowie Analysedienste ein. Nähere
      Erläuterungen dazu erhalten Sie unter den Ziff. 4 und 5 dieser Datenschutzerklärung.</p>
    <h5><strong>b) Bei Anmeldung für unseren Newsletter</strong></h5>
    <p>Wenn Sie den auf der Website angebotenen Newsletter beziehen möchten, benötigen wir von Ihnen eine E-Mail-Adresse
      sowie Informationen, welche uns die Überprüfung gestattet, dass Sie der Inhaber der angegebenen E-Mail-Adresse sind
      und mit dem Empfang des Newsletters einverstanden sind. Weitere Daten (Name, Vorname, Anrede) werden nicht bzw. nur
      auf freiwilliger Basis erhoben. Diese Daten verwenden wir ausschließlich für den Versand der angeforderten
      Informationen. Hierfür geben wir die Daten an den Newsletter-Dienst MailChimp weiter (siehe unten). </p>
    <p>
      Die Verarbeitung der in das Newsletter-Anmeldeformular eingegebenen Daten sowie der Weitergabe an MailChimp und die
      Nutzung durch MailChimp erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Die
      erteilte Einwilligung zur Speicherung der eingegebenen Daten sowie deren Nutzung zum Versand des Newsletters können
      Sie jederzeit widerrufen, etwa über den "Austragen"-Link im Newsletter. Die Rechtmäßigkeit der bereits erfolgten
      Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
    </p>
    <p>Die Weitergabe der Daten erfolgt an MailChimp, dem von unserer Website genutzten Dienst für den Versand von
      Newslettern. Anbieter ist die Rocket Science Group LLC, 675 Ponce De Leon Ave NE, Suite 5000, Atlanta, GA 30308,
      USA.</p>
    <p>MailChimp ist ein Dienst, mit dem u.a. der Versand von Newslettern organisiert und analysiert werden kann. Wenn Sie
      Daten zum Zwecke des Newsletterbezugs eingeben (z.B. E-Mail-Adresse), werden diese auf den Servern von MailChimp in
      den USA gespeichert.</p>
    <p>MailChimp verfügt über eine Zertifizierung nach dem “EU-US-Privacy-Shield”. Der “Privacy-Shield” ist ein
      Übereinkommen zwischen der Europäischen Union (EU) und den USA, das die Einhaltung europäischer Datenschutzstandards
      in den USA gewährleisten soll.</p>
    <p>Mit Hilfe von MailChimp können wir unsere Newsletterkampagnen analysieren. Wenn Sie eine mit MailChimp versandte
      E-Mail öffnen, verbindet sich eine in der E-Mail enthaltene Datei (sog. web-beacon) mit den Servern von MailChimp in
      den USA. So kann festgestellt werden, ob eine Newsletter-Nachricht geöffnet und welche Links ggf. angeklickt wurden.
      Außerdem werden technische Informationen erfasst (z.B. Zeitpunkt des Abrufs, IP-Adresse, Browsertyp und
      Betriebssystem). Diese Informationen können nicht dem jeweiligen Newsletter-Empfänger zugeordnet werden. Sie dienen
      ausschließlich der statistischen Analyse von Newsletterkampagnen. Die Ergebnisse dieser Analysen können genutzt
      werden, um künftige Newsletter besser an die Interessen der Empfänger anzupassen.</p>
    <p>Wenn Sie keine Analyse durch MailChimp wollen, müssen Sie den Newsletter abbestellen. Hierfür stellen wir in jeder
      Newsletternachricht einen entsprechenden Link zur Verfügung. Des Weiteren können Sie den Newsletter auch direkt auf
      der Website abbestellen.</p>
    <p>Die von Ihnen zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten werden von uns bis zu Ihrer Austragung
      aus dem Newsletter gespeichert und nach der Abbestellung des Newsletters sowohl von unseren Servern als auch von den
      Servern von MailChimp gelöscht. Daten, die zu anderen Zwecken bei uns gespeichert wurden (z.B. E-Mail-Adressen für
      den Mitgliederbereich) bleiben hiervon unberührt.</p>
    <p>
      Näheres entnehmen Sie den Datenschutzbestimmungen von MailChimp unter: <a
      href="https://MailChimp.com/legal/terms/.">https://MailChimp.com/legal/terms/.</a>
    </p>
    <h5><strong>c) Bei Nutzung unseres Kontaktformulars</strong></h5>
    <p>
      Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der
      von Ihnen dort angegebenen Kontaktdaten (Firma, Name, Email-Adresse, ggf. Telefonnummer und Anschrift) zwecks
      Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert.
    </p>
    <p>
      Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt zum Zwecke der Kontaktaufnahme mit uns auf
      Grundlage Ihrer freiwillig erteilten Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können diese Einwilligung
      jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum
      Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
    </p>
    <p>
      Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre
      Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z.B. nach abgeschlossener
      Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen – insbesondere Aufbewahrungsfristen – bleiben dabei
      unberührt.
    </p>
    <h5><strong>d) Bei Registrierung auf unserer Website</strong></h5>
    <p>
      Sie können sich auf unserer Website registrieren, um zusätzliche Funktionen auf der Seite zu nutzen. Die dazu
      eingegebenen Daten verwenden wir nur zum Zwecke der Nutzung des jeweiligen Angebotes oder Dienstes, für den Sie sich
      registriert haben. Die bei der Registrierung abgefragten Pflichtangaben müssen vollständig angegeben werden.
      Anderenfalls werden wir die Registrierung ablehnen.
    </p>
    <p>
      Für wichtige Änderungen etwa beim Angebotsumfang oder bei technisch notwendigen Änderungen nutzen wir die bei der
      Registrierung angegebene E-Mail-Adresse, um Sie auf diesem Wege zu informieren.
    </p>
    <p>
      Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs.
      1 lit. a DSGVO). Sie können eine von Ihnen erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose
      Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitung bleibt vom Widerruf
      unberührt.
    </p>
    <p>
      Die bei der Registrierung erfassten Daten werden von uns gespeichert, solange Sie auf unserer Website registriert
      sind und werden anschließend gelöscht. Gesetzliche Aufbewahrungsfristen bleiben unberührt.
    </p>
    <h5><strong>e) Bei Nutzung der Kommentarfunktion auf unserer Website</strong></h5>
    <p>
      Für die Kommentarfunktion auf dieser Seite werden neben Ihrem Kommentar auch Angaben zum Zeitpunkt der Erstellung
      des Kommentars, Ihre E-Mail-Adresse und, wenn Sie nicht anonym posten, der von Ihnen gewählte Nutzername
      gespeichert.
    </p>
    <p>
      Unsere Kommentarfunktion speichert die IP-Adressen der Nutzer, die Kommentare verfassen. Da wir Kommentare auf
      unserer Seite nicht vor der Freischaltung prüfen, benötigen wir diese Daten, um im Falle von Rechtsverletzungen wie
      Beleidigungen oder Propaganda gegen den Verfasser vorgehen zu können.
    </p>
    <p>
      Als Nutzer der Seite können Sie nach einer Anmeldung Kommentare abonnieren. Sie erhalten eine Bestätigungsemail, um
      zu prüfen, ob Sie der Inhaber der angegebenen E-Mail-Adresse sind. Sie können diese Funktion jederzeit über einen
      Link in den Info-Mails abbestellen. Die im Rahmen des Abonnierens von Kommentaren eingegebenen Daten werden in
      diesem Fall gelöscht; wenn Sie diese Daten für andere Zwecke und an anderer Stelle (z.B. Newsletterbestellung) an
      uns übermittelt haben, verbleiben die jedoch bei uns.
    </p>
    <p>
      Die Kommentare und die damit verbundenen Daten (z.B. IP-Adresse) werden gespeichert und verbleiben auf unserer
      Website, bis der kommentierte Inhalt vollständig gelöscht wurde oder die Kommentare aus rechtlichen Gründen gelöscht
      werden müssen (z.B. beleidigende Kommentare).
    </p>
    <p>
      Die Speicherung der Kommentare erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können
      eine von Ihnen erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns.
      Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
    </p>
    <h4>f) Datenübermittlung bei Vertragsabschluss für Dienstleistungen und digitale Inhalte</h4>
    <p>
      Wir übermitteln personenbezogene Daten an Dritte nur dann, wenn dies im Rahmen der Vertragsabwicklung notwendig ist,
      etwa an das mit der Zahlungsabwicklung beauftragte Kreditinstitut.
    </p>
    <p>Eine weitergehende Übermittlung der Daten erfolgt nicht bzw. nur dann, wenn Sie der Übermittlung ausdrücklich
      zugestimmt haben. Eine Weitergabe Ihrer Daten an Dritte ohne ausdrückliche Einwilligung, etwa zu Zwecken der
      Werbung, erfolgt nicht.</p>
    <p>Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung
      eines Vertrags oder vorvertraglicher Maßnahmen gestattet.</p>
    <h5><strong>g) Verarbeiten von Daten (Kunden- Bewerber und Vertragsdaten)</strong></h5>
    <p>Wir erheben, verarbeiten und nutzen personenbezogene Daten nur, soweit sie für die Begründung, inhaltliche
      Ausgestaltung oder Änderung sowie des Abschlusses eines Rechtsverhältnisses erforderlich sind. Dies erfolgt auf
      Grundlage von Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder
      vorvertraglicher Maßnahmen gestattet. Personenbezogene Daten über die Inanspruchnahme unserer Internetseiten
      (Nutzungsdaten) erheben, verarbeiten und nutzen wir nur, soweit dies erforderlich ist, um dem Nutzer die
      Inanspruchnahme des Dienstes zu ermöglichen oder abzurechnen.</p>
    <p>Die erhobenen Kundendaten werden nach Abschluss des Auftrags oder Beendigung der Geschäftsbeziehung gelöscht.
      Bewerbungsunterlagen werden 6 Monate nach Beendigung des Besetzungsverfahrens gelöscht, sofern nicht anders mit dem
      Bewerber vereinbart. Gesetzliche Aufbewahrungsfristen bleiben unberührt.</p>


    <h4>4. Cookies </h4>


    <p>Wir setzen auf unserer Seite Cookies ein. Hierbei handelt es sich um kleine Dateien, die Ihr Browser automatisch
      erstellt und die auf Ihrem Endgerät (Laptop, Tablet, Smartphone o.ä.) gespeichert werden, wenn Sie unsere Seite
      besuchen. Cookies richten auf Ihrem Endgerät keinen Schaden an, enthalten keine Viren, Trojaner oder sonstige
      Schadsoftware. In dem Cookie werden Informationen abgelegt, die sich jeweils im Zusammenhang mit dem spezifisch
      eingesetzten Endgerät ergeben. Dies bedeutet jedoch nicht, dass wir dadurch unmittelbar Kenntnis von Ihrer Identität
      erhalten. </p>
    <p>Der Einsatz von Cookies dient einerseits dazu, die Nutzung unseres Angebots für Sie angenehmer zu gestalten. So
      setzen wir sogenannte Session-Cookies ein, um zu erkennen, dass Sie einzelne Seiten unserer Website bereits besucht
      haben. </p>
    <p>Diese werden nach Verlassen unserer Seite automatisch gelöscht.</p>
    <p>Darüber hinaus setzen wir ebenfalls zur Optimierung der Benutzerfreundlichkeit temporäre Cookies ein, die für einen
      bestimmten festgelegten Zeitraum auf Ihrem Endgerät gespeichert werden. Besuchen Sie unsere Seite erneut, um unsere
      Dienste in Anspruch zu nehmen, wird automatisch erkannt, dass Sie bereits bei uns waren und welche Eingaben und
      Einstellungen sie getätigt haben, um diese nicht noch einmal eingeben zu müssen.</p>
    <p>Zum anderen setzten wir Cookies ein, um die Nutzung unserer Website statistisch zu erfassen und zum Zwecke der
      Optimierung unseres Angebotes für Sie auszuwerten (siehe Ziff. 5). Diese Cookies ermöglichen es uns, bei einem
      erneuten Besuch unserer Seite automatisch zu erkennen, dass Sie bereits bei uns waren. </p>
    <p>Diese Cookies werden nach einer jeweils definierten Zeit automatisch gelöscht.</p>
    <p>Die durch Cookies verarbeiteten Daten sind für die genannten Zwecke zur Wahrung unserer berechtigten Interessen
      sowie der Dritter nach Art. 6 Abs. 1 S. 1 lit. f DSGVO erforderlich. Die meisten Browser akzeptieren Cookies
      automatisch. </p>
    <p>Sie können Ihren Browser jedoch so konfigurieren, dass keine Cookies auf Ihrem Computer gespeichert werden oder
      stets ein Hinweis erscheint, bevor ein neuer Cookie angelegt wird. Die vollständige Deaktivierung von Cookies kann
      jedoch dazu führen, dass Sie nicht alle Funktionen unserer Website nutzen können. </p>
    <h4>5. Analyse Tools und Werbung</h4>
    <h5><strong>Tracking – Tools</strong></h5>
    <p>
      Die im Folgenden aufgeführten und von uns eingesetzten Tracking-Maßnahmen werden auf Grundlage des Art. 6 Abs. 1 S.
      1lit. f DSGVO durchgeführt. Mit den zum Einsatz kommenden Tracking-Maßnahmen wollen wir eine bedarfsgerechte
      Gestaltung und die fortlaufende Optimierung unserer Webseite sicherstellen. Zum anderen setzen wir die
      Tracking-Maßnahmen ein, um die Nutzung unserer Webseite statistisch zu erfassen und zum Zwecke der Optimierung
      unseres Angebotes für Sie auszuwerten. Diese Interessen sind als berechtigt im Sinne der vorgenannten Vorschrift
      anzusehen. Die jeweiligen Datenverarbeitungszwecke und Datenkategorien sind aus den entsprechenden Tracking-Tools zu
      entnehmen.
    </p>
    <h5><strong>a) Google Analytics</strong></h5>
    <p>Zum Zwecke der bedarfsgerechten Gestaltung und fortlaufenden Optimierung unserer Seiten nutzen wir Google
      Analytics, ein Webanalysedienst der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. </p>
    <p>In diesem Zusammenhang werden pseudonymisierte Nutzungsprofile erstellt und Cookies (siehe unter Ziff. 4)
      verwendet. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website wie Browser-Typ/-Version,
      verwendetes Betriebssystem, Referrer-URL (die zuvor besuchte Seite), Hostname des zugreifenden Rechners
      (IP-Adresse), Uhrzeit der Serveranfrage, werden an einen Server von Google in den USA übertragen und dort
      gespeichert. Die Informationen werden verwendet, um die Nutzung der Website auszuwerten, um Reports über die
      Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene
      Dienstleistungen zu Zwecken der Marktforschung und bedarfsgerechten Gestaltung dieser Internetseiten zu erbringen.
      Auch werden diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben ist oder
      soweit Dritte diese Daten im Auftrag verarbeiten. </p>

    <h5>IP-Anonymisierung</h5>
    <p>Es wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google zusammengeführt. Die IP-Adressen werden
      anonymisiert, so dass eine Zuordnung nicht möglich ist (IP-Masking).</p>


    <h5>Browser-Plugin</h5>
    <p>Sie können die Installation der Cookies durch eine entsprechende Einstellung der Browser-Software verhindern; wir
      weisen jedoch darauf hin, dass in diesem Fall gegebenen falls nicht sämtliche Funktionen dieser Website
      vollumfänglich genutzt werden können.</p>

    <p>Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen
      Daten (inkl. Ihrer IP-Adresse) sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie ein
      Browser-Add-on herunterladen und installieren (<a target="_blank"
                                                        href="https://tools.google.com/dlpage/gaoptout?hl=de">https://tools.google.com/dlpage/gaoptout?hl=de</a>).
      Alternativ zum
      Browser-Add-on, insbesondere bei Browsern auf mobilen Endgeräten, können Sie die Erfassung durch Google Analytics
      zudem verhindern, indem Sie <a href="javascript:gaOptout();">auf diesen Link klicken</a>. Es wird ein Opt-out-Cookie
      gesetzt, das die zukünftige
      Erfassung Ihrer Daten beim Besuch dieser Website verhindert. Der Opt-out-Cookie gilt nur in diesem Browser und nur
      für unsere Website und wird auf Ihrem Gerät abgelegt. Löschen Sie die Cookies in diesem Browser, müssen Sie das
      Opt-out-Cookie erneut setzen. </p>

    <p>Weitere Informationen zum Datenschutz im Zusammenhang mit Google Analytics finden Sie etwa in der Google
      Analytics-Hilfe (<a target="_blank" href="https://support.google.com/analytics/answer/6004245?hl=de">https://support.google.com/analytics/answer/6004245?hl=de</a>).
    </p>

    <h5>Auftragsdatenverarbeitung</h5>
    <p>Wir haben mit Google einen Vertrag zur Auftragsdatenverarbeitung abgeschlossen und setzen die strengen Vorgaben der
      deutschen Datenschutzbehörden bei der Nutzung von Google Analytics vollständig um.</p>

    <h5><strong>b) Google Analytics Remarketing</strong></h5>

    <p>Unsere Websites nutzen die Funktionen von Google Analytics Remarketing in Verbindung mit den geräteübergreifenden
      Funktionen von Google AdWords und Google DoubleClick. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway,
      Mountain View, CA 94043, USA.</p>
    <p>Diese Funktion ermöglicht es, die mit Google Analytics Remarketing erstellten Werbe-Zielgruppen mit den
      geräteübergreifenden Funktionen von Google AdWords und Google DoubleClick zu verknüpfen. Auf diese Weise können
      interessenbezogene, personalisierte Werbebotschaften, die in Abhängigkeit Ihres früheren Nutzungs- und
      Surfverhaltens auf einem Endgerät (z.B. Handy) an Sie angepasst wurden auch auf einem anderen Ihrer Endgeräte (z.B.
      Tablet oder PC) angezeigt werden.</p>
    <p>Haben Sie Google gegenüber in Ihren Benutzer-Kontoeinstellungen eine entsprechende Einwilligung erteilt, verknüpft
      Google zu diesem Zweck Ihren Web- und App-Browserverlauf mit Ihrem Google-Konto. Auf diese Weise können auf jedem
      Endgerät auf dem Sie sich mit Ihrem Google-Konto anmelden, dieselben personalisierten Werbebotschaften geschaltet
      werden.</p>
    <p>Zur Unterstützung dieser Funktion erfasst Google Analytics Google-authentifizierte IDs der Nutzer, die
      vorübergehend mit unseren Google-Analytics-Daten verknüpft werden, um Zielgruppen für die geräteübergreifende
      Anzeigenwerbung zu definieren und zu erstellen.</p>
    <p>Sie können das geräteübergreifenden Remarketing/Targeting dauerhaft ausschalten, indem Sie personalisierte Werbung
      in Ihrem Google-Konto deaktivieren; folgen Sie hierzu diesem Link:
      <a target="_blank"
         href="https://www.google.com/settings/ads/onweb/.">https://www.google.com/settings/ads/onweb/.</a></p>
    <p>Die Zusammenfassung der erfassten Daten in Ihrem Google-Konto erfolgt ausschließlich auf Grundlage Ihrer
      Einwilligung, die Sie bei Google abgeben oder widerrufen können (Art. 6 Abs. 1 lit. a DSGVO). Bei
      Datenerfassungsvorgängen, die nicht in Ihrem Google-Konto zusammengeführt werden (z.B., weil Sie kein Google-Konto
      haben oder der Zusammenführung widersprochen haben) beruht die Erfassung der Daten auf Art. 6 Abs. 1 lit. f DSGVO.
      Das berechtigte Interesse ergibt sich daraus, dass der Websitebetreiber ein Interesse an der anonymisierten Analyse
      der Websitebesucher zu Werbezwecken hat.</p>
    <p>Weitergehende Informationen und die Datenschutzbestimmungen finden Sie in der Datenschutzerklärung von Google
      unter:
      <a target="_blank" href="https://www.google.com/policies/technologies/ads/.">https://www.google.com/policies/technologies/ads/.</a>
    </p>
    <h5>c) Google AdWords und Google Conversion-Tracking</h5>
    <p>Um die Nutzung unserer Webseite statistisch zu erfassen und zum Zwecke der Optimierung unserer Website für Sie
      auszuwerten, nutzen wir ferner das Google Conversion Tracking. Dabei wird von Google Adwords ein Cookie (siehe
      Ziffer 4) auf Ihrem Rechner gesetzt, sofern Sie über eine Google-Anzeige auf unsere Webseite gelangt sind. Diese
      Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht der persönlichen Identifizierung. Besucht der
      Nutzer bestimmte Seiten der Webseite des Adwords-Kunden und das Cookie ist noch nicht abgelaufen, können Google und
      der Kunde erkennen, dass der Nutzer auf die Anzeige geklickt hat und zu dieser Seite weitergeleitet wurde. Jeder
      Adwords-Kunde erhält ein anderes Cookie. Cookies können somit nicht über die Webseiten von Adwords-Kunden
      nachverfolgt werden. Die mithilfe des Conversion-Cookies eingeholten Informationen dienen dazu,
      Conversion-Statistiken für Adwords-Kunden zu erstellen, die sich für Conversion-Tracking entschieden haben. Die
      Adwords-Kunden erfahren die Gesamtanzahl der Nutzer, die auf ihre Anzeige geklickt haben und zu einer mit einem
      Conversion-Tracking-Tag versehenen Seite weitergeleitet wurden. Sie erhalten jedoch keine Informationen, mit denen
      sich Nutzer persönlich identifizieren lassen. Wenn Sie nicht an dem Tracking-Verfahren teilnehmen möchten, können
      Sie auch das hierfür erforderliche Setzen eines Cookies ablehnen – etwa per Browser-Einstellung, die das
      automatische Setzen von Cookies generell deaktiviert. Sie können Cookies für Conversion-Tracking auch deaktivieren,
      indem Sie Ihren Browser so einstellen, dass Cookies von der Domain „www.googleadservices.com“ blockiert werden.
      Googles Datenschutzbelehrung zum Conversion-Tracking finden Sie hier (<a
        href="https://services.google.com/sitestats/de.html">https://services.google.com/sitestats/de.html</a>). </p>
    <h5><strong>d) Google reCAPTCHA</strong></h5>
    <p>Wir nutzen “Google reCAPTCHA” (im Folgenden “reCAPTCHA”) auf unseren Websites. Anbieter ist die Google Inc., 1600
      Amphitheatre Parkway, Mountain View, CA 94043, USA (“Google”).</p>
    <p>Mit reCAPTCHA soll überprüft werden, ob die Dateneingabe auf unseren Websites (z.B. in einem Kontaktformular) durch
      einen Menschen oder durch ein automatisiertes Programm erfolgt. Hierzu analysiert reCAPTCHA das Verhalten des
      Websitebesuchers anhand verschiedener Merkmale. Diese Analyse beginnt automatisch, sobald der Websitebesucher die
      Website betritt. Zur Analyse wertet reCAPTCHA verschiedene Informationen aus (z.B. IP-Adresse, Verweildauer des
      Websitebesuchers auf der Website oder vom Nutzer getätigte Mausbewegungen). Die bei der Analyse erfassten Daten
      werden an Google weitergeleitet.</p>
    <p>Die reCAPTCHA-Analysen laufen vollständig im Hintergrund. Websitebesucher werden nicht darauf hingewiesen, dass
      eine Analyse stattfindet.</p>
    <p>Die Datenverarbeitung erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein
      berechtigtes Interesse daran, seine Webangebote vor missbräuchlicher automatisierter Ausspähung und vor SPAM zu
      schützen.</p>
    <p>Weitere Informationen zu Google reCAPTCHA sowie die Datenschutzerklärung von Google entnehmen Sie folgenden Links:
      <a target="_blank" href="https://www.google.com/intl/de/policies/privacy/">https://www.google.com/intl/de/policies/privacy/</a>
      und
      <a target="_blank" href="https://www.google.com/recaptcha/intro/android.html.">https://www.google.com/recaptcha/intro/android.html.</a>
    </p>

    <h4>6. Plugins und Tools</h4>
    <h5><strong>a) Google Web Fonts</strong></h5>
    <p>
      Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google
      bereitgestellt werden. Beim Aufruf einer Seite lädt Ihr Browser die benötigten Web Fonts in ihren Browsercache, um
      Texte und Schriftarten korrekt anzuzeigen.</p>
    <p>Zu diesem Zweck muss der von Ihnen verwendete Browser Verbindung zu den Servern von Google aufnehmen. Hierdurch
      erlangt Google Kenntnis darüber, dass über Ihre IP-Adresse unsere Website aufgerufen wurde. Die Nutzung von Google
      Web Fonts erfolgt im Interesse einer einheitlichen und ansprechenden Darstellung unserer Online-Angebote. Dies
      stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.</p>
    <p>Wenn Ihr Browser Web Fonts nicht unterstützt, wird eine Standardschrift von Ihrem Computer genutzt.</p>
    <p>Weitere Informationen zu Google Web Fonts finden Sie unter <a target="_blank"
                                                                     href="https://developers.google.com/fonts/faq">https://developers.google.com/fonts/faq</a>
      und in der Datenschutzerklärung von Google: .
      <a target="_blank" href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a></p>
    <h5><strong>b) Google Maps</strong></h5>
    <p>Diese Seite nutzt über eine API den Kartendienst Google Maps. Anbieter ist die Google Inc., 1600 Amphitheatre
      Parkway, Mountain View, CA 94043, USA.</p>
    <p>Zur Nutzung der Funktionen von Google Maps ist es notwendig, Ihre IP Adresse zu speichern. Diese Informationen
      werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Der Anbieter dieser Seite
      hat keinen Einfluss auf diese Datenübertragung.</p>
    <p>Bei jedem einzelnen Aufruf der Komponente "Google Maps" wird von Google ein Cookie gesetzt, um bei der Anzeige der
      Seite, auf der die Komponente "Google Maps" integriert ist, Nutzereinstellungen und -daten zu verarbeiten. Dieses
      Cookie wird im Regelfall nicht durch das Schließen des Browsers gelöscht, sondern läuft nach einer bestimmten Zeit
      ab, soweit es nicht von Ihnen zuvor manuell gelöscht wird.</p>
    <p>Wenn Sie mit dieser Verarbeitung Ihrer Daten nicht einverstanden sind, so besteht die Möglichkeit, den Service von
      "Google Maps" zu deaktivieren und auf diesem Weg die Übertragung von Daten an Google zu verhindern. Dazu müssen Sie
      die Java-Script-Funktion in Ihrem Browser deaktivieren. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
      die "Google Maps" nicht oder nur eingeschränkt nutzen können.</p>
    <p>Die Nutzung von Google Maps erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote und an
      einer leichten Auffindbarkeit der von uns auf der Website angegebenen Orte. Dies stellt ein berechtigtes Interesse
      im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.</p>
    <p>Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von Google: <a
      href="https://www.google.de/intl/de/policies/privacy/.">https://www.google.de/intl/de/policies/privacy/.</a></p>
    <h4>7. Betroffenenrechte</h4>
    <p>
      Sie haben das Recht:
    </p>
    <ul>
      <li>gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen. Insbesondere
        können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von
        Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen
        eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines
        Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden, sowie über das Bestehen
        einer automatisierten Entscheidungsfindung einschließlich Profiling und ggf. aussagekräftigen Informationen zu
        deren Einzelheiten verlangen;
      </li>
      <li>gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten
        personenbezogenen Daten zu verlangen;
      </li>
      <li>gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit nicht
        die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung einer
        rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder
        Verteidigung von Rechtsansprüchen erforderlich ist;
      </li>
      <li>gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, soweit die
        Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber deren Löschung
        ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder Verteidigung
        von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben;
      </li>
      <li>gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten,
        gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu
        verlangen;
      </li>
      <li>gemäß Art. 7 Abs. 3 DSGVO Ihre einmal erteilte Einwilligung jederzeit gegenüber uns zu widerrufen. Dies hat zur
        Folge, dass wir die Datenverarbeitung, die auf dieser Einwilligung beruhte, für die Zukunft nicht mehr fortführen
        dürfen und gemäß Art. 77 DSGVO sich jederzeit bei einer Aufsichtsbehörde zu beschweren, z.B. bei der für uns
        zuständigen Aufsichtsbehörde Baden-Württemberg:
      </li>
    </ul>
    <p>
      Landesbeauftragte für den Datenschutz und die Informationsfreiheit (Baden-Württemberg)
      Königstrasse 10 a
      70173 Stuttgart
    </p>
    <h4 class="important">8. Widerspruchsrecht</h4>
    <p>Sofern Ihre personenbezogenen Daten auf Grundlage von berechtigten Interessen gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO
      verarbeitet werden, haben Sie das Recht, gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer
      personenbezogenen Daten einzulegen, soweit dafür Gründe vorliegen, die sich aus Ihrer besonderen Situation ergeben
      oder sich der Widerspruch gegen Direktwerbung richtet. Im letzteren Fall haben Sie ein generelles Widerspruchsrecht,
      das ohne Angabe einer besonderen Situation von uns umgesetzt wird. Möchten Sie von Ihrem Widerrufs- oder
      Widerspruchsrecht Gebrauch machen, genügt eine E-Mail an datenschutz@w11k.de</p>


    <h4>9. Datensicherheit</h4>
    <h5><strong>a) SSL- bzw. TLS-Verschlüsselung</strong></h5>

    <p>Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel
      Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw. TLS-Verschlüsselung. Eine
      verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von “http://” auf “https://”
      wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.</p>
    <p>Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von
      Dritten mitgelesen werden.</p>

    <h5><strong>b) Widerspruch gegen Werbe-Mails</strong></h5>
    <p>
      Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich
      angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich
      ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
      Spam-E-Mails, vor.
    </p>

    <h5><strong>c) Technische und organisatorische Maßnahmen</strong></h5>

    <p>
      Wir bedienen uns im Übrigen geeigneter technischer und organisatorischer Sicherheitsmaßnahmen, um Ihre Daten gegen
      zufällige oder vorsätzliche Manipulationen, teilweisen oder vollständigen Verlust, Zerstörung oder gegen den
      unbefugten Zugriff Dritter zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend der technologischen
      Entwicklung fortlaufend verbessert.
    </p>
    <h5><strong>10. Aktualität und Änderung dieser Datenschutzerklärung</strong></h5>

    <p>Diese Datenschutzerklärung ist aktuell gültig und hat den Stand Mai 2018. Durch die Weiterentwicklung unserer
      Website und Angebote darüber oder aufgrund geänderter gesetzlicher beziehungsweise behördlicher Vorgaben kann es
      notwendig werden, diese Datenschutzerklärung zu ändern. Die jeweils aktuelle Datenschutzerklärung kann jederzeit auf
      der Website unter
      <a target="_blank" href="https://calendar-for-trello.com/privacy">https://calendar-for-trello.com/privacy</a> von Ihnen abgerufen und ausgedruckt
      werden.</p>

  </mat-card-content>
</mat-card>






