$mat-trello-business: (
  50: #EDEFF4,
  100: #D2D7E5,
  200: #B2B9D0,
  300: #838FB5,
  400: #6170A1,
  500: #42548E,
  600: #3E4D80,
  700: #3A476F,
  800: #364268,
  900: #36405F,
  A100: #edeff4,
  A200: #B2B9D0,
  A400: #6170A1,
  A700: #3A476F,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: #696969,
    A200: white,
    A400: white,
    A700: $white-87-opacity,
  )
);
