$mat-trello-red: (
  50: #FBEDEB,
  100: #F5D3CE,
  200: #EFB3AB,
  300: #EC9488,
  400: #EF7564,
  500: #EB5A46,
  600: #CF513D,
  700: #B04632,
  800: #933B27,
  900: #6E2F1A,
  A100: #FFFFFF,
  A200: #FDF2F0,
  A400: #EE7362,
  A700: #DC3018,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $white-87-opacity,
    A700: white,
  )
);
