@import '~@angular/material/theming';
@import '../../../material/theme';

$primary: mat-color($mat-trello-business, 500);
$primary-font: mat-contrast($mat-trello-business, 500);


.header {
  text-align: center;
  color: $primary-font;
  background: $primary;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  padding: 5px;
}

:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
