<h3>Calendar-for-Trello
  <small>(Version: {{version}})</small>
</h3>

<p>Trello is a productivity tool that helps you to organize projects by creating individual lists, boards and cards.
  Manage your projects in teams, get more flexible and improve your workflow.</p>
<p>Organize Trello cards across all boards in one amazing calendar view. Get the most out of Trello and improve your
  workflow with our open source calendar! Trello Calendar is Open Source and available at <a
    href="https://github.com/w11k/trello-calendar" rel="_blank">GitHub.</a></p>


<app-w11k-info></app-w11k-info>


<h3>
  Privacy Information
</h3>

<p>
  All accrued data is only stored on your own computer. The communication with Trello API is encrypted via https.
</p>


<h3>Feature Request and Bug Reports</h3>
<p>
  Please create a ticket <a href="https://github.com/w11k/calendar-for-trello/issues" target="_blank">here</a>.
</p>


<h3>Uninstall</h3>
<p>
  A logout will delete all data and uninstalls the application.
</p>


<div>
  <br>
  <a md-raised-button color="primary" routerLink="/">back to Start</a>
</div>
