<md-card class="board-card">
  <md-card-header>
    <md-card-title>Calendar-for-Trello
    </md-card-title>
    <md-card-subtitle>Version: {{version}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>

    <p>Trello is a productivity tool that helps you to organize projects by creating individual lists, boards and cards.
      Manage your projects in teams, get more flexible and improve your workflow.</p>
    <p>Organize Trello cards across all boards in one amazing calendar view. Get the most out of Trello and improve your
      workflow with our open source calendar! Trello Calendar is Open Source and available at <a
        href="https://github.com/w11k/trello-calendar" rel="_blank">GitHub.</a></p>
    <h3>
      Privacy Information
    </h3>

    <p>
      All accrued data is only stored on your own computer. The communication with Trello API is encrypted via https.
    </p>

    <h3>Feature Request and Bug Reports</h3>
    <p>
      Please create a ticket <a href="https://github.com/w11k/calendar-for-trello/issues" target="_blank">here</a>.
    </p>

    <h3>Uninstall</h3>
    <p>
      A logout will delete all data and uninstalls the application.
    </p>

  </md-card-content>
  <md-card-actions>
    <a md-button color="primary" routerLink="/">back to Start</a>

  </md-card-actions>
</md-card>

<br><br>

<md-card class="board-card">
  <md-card-header>
    <md-card-title>Customized software</md-card-title>
    <md-card-subtitle> by <a href="https://www.w11k.de/" target="_blank">W11K GmbH</a></md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      Calendar-for-Trello is handcrafted software made in Esslingen, Germany. Feel free to <a
      href="https://github.com/w11k/calendar-for-trello/issues" target="_blank">submit feature requests or bug
      reports</a>.
    </p>

    <p>
      If you are in need of a software solution, do not hesitate to <a href="mailto:info@w11k.de">contact us</a>.
    </p>

  </md-card-content>
  <md-card-actions>
    <a md-button color="primary" href="mailto:info@w11k.de">Contact W11K</a>
  </md-card-actions>
</md-card>


