:host {
  max-width: 600px;
  margin: 20px auto;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display: block;

}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 18px;
}

p {
  margin: 8px 0 14px;
}

mat-card-title {
  font-size: 20px;
}

mat-card-content {
  padding-top: 25px;
}
