<md-content class="boards" layout-align="center center">

    <md-whiteframe class="md-whiteframe-z4" flex="55px" layout-align=" center" layout="column">
        <md-toolbar flex layout="row">
            <ng-md-icon icon="color_lens" size="35"></ng-md-icon>

            <h1 class="md-toolbar-tools" >
                <span>Board Settings</span>
            </h1>
            <span class="checkboxText">
                colorize:
            </span>

            <md-checkbox ng-model="colorizeCards" ng-change="changeColorize(colorizeCards)" aria-label="colorize Cards" >
            </md-checkbox>

        </md-toolbar>
        <md-content layout-padding ng-repeat="board in boards | orderBy: 'name'">

            <ng-md-icon icon="assignment" size="30"></ng-md-icon>

            <p> {{board.name}}</p>
            <div class="right">

                <md-input-container ng-if="colorizeCards" class="animate-if">
                    <md-select ng-model="board.prefs.backgroundColor" aria-label="ColorPicker" style="background-color:{{board.prefs.backgroundColor}}; ">
                        <md-option class="option" ng-repeat="item in colors" ng-click="announceClick($index,board.id)" value="{{item.color}}" style="background-color:{{item.color}};color:#ffffff;padding-left:10px">
                            {{item.id}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-switch ng-model="board.enabled" ng-change="change($index, board.enabled)" aria-label="enable board" style="float:right;margin:0px;padding:4px;margin-top:3px">

                </md-switch>
            </div>
        </md-content>
    </md-whiteframe>



</md-content>