<mat-card class="board-card">
  <mat-card-header>
    <mat-card-title>Imprint</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <section>
      <div class="row align-items-end">
        <div class="col-sm-6 col-sm-height col-sm-bottom"><p><strong>W11K GmbH</strong><br>Martinstraße 42–44<br>73728
          Esslingen a. N.<br><br><strong>Telefon:</strong>
          +49 711 459998 0<br><strong>Fax: </strong>+49 711 459998 29<br><strong>E-Mail:</strong> info(at)w11k.de</p>
        </div>
        <div class="col-sm-6 col-sm-height col-sm-bottom"><strong><i>Geschäftsführung</i></strong>
          <p>Jan Blankenhorn, Roman Roelofsen</p> <strong><i>Handelsregister</i></strong>
          <p>Amtsgericht Stuttgart: HRB 214442 <br> Umsatzsteuer-ID: DE213472880</p></div>
      </div>
    </section>

  </mat-card-content>
</mat-card>






