@import '~@angular/material/core/theming/theming';
@import '../../../material/theme';

$day-border-color: md-color($md-gray, 300);
$day-background: md-color($md-gray, A100);
$day-offset-background: md-color($md-trello-business, 50);
$day-time-color: md-color($md-gray, 500);

$day-primary: md-color($md-trello-business, 500);

:host {
  width: 14.28%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  position: relative;
  border-top: 1px solid $day-border-color;
  border-left: 1px solid $day-border-color;

}

.dropZone {
  padding: 3px;
  flex: 1 0 auto;
}

.weekday {
  background: $day-background;
  color: $day-time-color;
  > div {
    border: 2px solid $day-background;
    font-size: 11px;
    padding: 2px 0 2px;
  }
}

.day {
  position: absolute;
  top: 3px;
  right: 3px;
}

:host(.today) {
  .day {
    font-weight: bold;
    color: $day-primary;
  }
}

