:host {
  width: 14.28%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  position: relative;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;

}

.dropZone {
  background: yellow;
  flex: 1 0 auto;
}

.weekday {
  background: #fff;
  color: #4d4d4d;
  > div {
    border: 2px solid #fff;
    font-size: 11px;
    padding: 2px 0 2px;
    &.dnd-drag-over {
      background: #EDEFF4;
    }
  }
}

.day {
  position: absolute;
  top: 3px;
  right: 3px;
}

:host(.today) {
  .day {
    font-weight: bold;
    color: #42548E;
  }
}

