.settings {

  ng-md-icon {
    margin-top:10px;
  }
}



md-switch.md-default-theme.md-checked .md-thumb {
  background-color: rgb(63,81,181);
}

md-switch.md-default-theme.md-checked .md-bar {
  background-color: rgba(63,81,181,0.5)

}