<md-sidenav-layout>
  <md-sidenav #start (open)="mybutton.focus()" [mode]="'side'" [opened]="false" style="width:70%; max-width:300px;">
    <br>
    <button md-menu-item *ngFor="let item of navigation" routerLink="{{item.link}}">
      {{ item.text }}
    </button>


    <app-over-due-area></app-over-due-area>
    <app-no-due-area></app-no-due-area>


    <button md-button #mybutton (click)="start.close()">Close</button>
  </md-sidenav>
  <md-sidenav #end align="end">
    <app-search></app-search>
    <button md-button (click)="end.close()">Close</button>
  </md-sidenav>

  <md-toolbar [color]="'primary'">
    <button (click)="start.toggle()" md-icon-button>
      <md-icon>menu</md-icon>
    </button>
    <div class="flex">Calendar for <img
      src="https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png" alt=""></div>

    <button md-icon-button (click)="refresh()" mdTooltip="Manually Refresh">
      <md-icon>refresh</md-icon>
    </button>

    <button (click)="end.open()" md-icon-button mdTooltip="Search Cards">
      <md-icon>search</md-icon>
    </button>


    <button md-icon-button [md-menu-trigger-for]="menu" mdTooltip="More">
      <md-icon>more_vert</md-icon>
    </button>


    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>lightbulb_outline</md-icon>
        Submit Feature Request
      </button>
      <button md-menu-item>
        <md-icon>report_problem</md-icon>
        Report a Problem
      </button>
      <button md-menu-item>
        <md-icon>delete</md-icon>
        Clear Data
      </button>
      <button md-menu-item (click)="logout()">
        <md-icon>clear</md-icon>
        Logout
      </button>
    </md-menu>


  </md-toolbar>

  <br>
  <router-outlet></router-outlet>


</md-sidenav-layout>
