<mat-sidenav-container fullscreen>
  <mat-sidenav #start [mode]="'side'" style="width:70%; max-width:250px;" [opened]="isSidenavOpen">
    <app-sidebar [start]="start"></app-sidebar>
  </mat-sidenav>
  <div class="app">

    <mat-toolbar [color]="'primary'" class="mb-4">
      <button (click)="start.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <div class="flex">Calendar for <img
        src="assets/header-logo.png" alt=""></div>

      <span class="mr-3 pt-2 d-none d-md-inline-block">
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/w11k/calendar-for-trello" data-size="large"
         data-show-count="true" aria-label="Star w11k/calendar-for-trello on GitHub">Star</a>
      </span>

      <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate for Trello Calendar"
           class="donate-button mt-2" (click)="trigger()">

      <app-loading-spinner></app-loading-spinner>

      <button mat-icon-button [mat-menu-trigger-for]="menu" matTooltip="">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button i18n="Button to submit a feature request" mat-menu-item (click)="toIssue()">
          <mat-icon>lightbulb_outline</mat-icon>
          Submit Feature Request
        </button>
        <button i18n="Button to submit a bug report" mat-menu-item (click)="toIssue()">
          <mat-icon>report_problem</mat-icon>
          Report a Problem
        </button>
        <button i18n="Button to clear site data" mat-menu-item (click)="clearData()">
          <mat-icon>delete</mat-icon>
          Clear Data
        </button>
        <button i18n="Button to logout" mat-menu-item (click)="logout()">
          <mat-icon>clear</mat-icon>
          Logout
        </button>
      </mat-menu>

    </mat-toolbar>

    <router-outlet></router-outlet>


  </div>
</mat-sidenav-container>
