/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "assets/ionic/release/fonts";

// Include all of Ionic

@import "ionic/scss/ionic";



@media (min-width: 767px) {
  .menu-content {
    -webkit-transform: translate3d(270px, 0px, 0px) !important;
    width: calc(100% - 270px) !important;
  }

  .bar-header button.ion-navicon {
    display: none;
  }
}


.item-body {padding-top:0 !important;}