<button (click)="refresh()">Refresh</button>
<button (click)="logout()">Logout</button>
<button (click)="toggleObserverMode()">{{ settings.observerMode ? "ObserverMode" : "SingleUserMode"}}</button>
<select [(ngModel)]="settings.language" (ngModelChange)="updateLang($event)">
  <option *ngFor="let lang of languages" [value]="lang.key">{{lang.name}}</option>
</select>
<button (click)="addCard =!addCard">Add a Card</button>
<app-search></app-search>
<button routerLink="/boards">to Board Settings</button>

<br>
<app-add-card *ngIf="addCard"></app-add-card>
<hr>
<br>
<router-outlet></router-outlet>



