:host {
  display: block;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.profile-picture {
  border-radius: 100%;
  width: 30px;
  margin-top: 3px;
  margin-right: 10px;
}

.spacer1 {
  margin-bottom: 15px;
  margin-top: 15px;
}

:host {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;
  justify-content: space-between;
}

.top,
.bottom {
  flex: 0 1 auto;
  align-self: auto;
}

.bottom {
  padding: 25px 25px;

  img {
    opacity: 1;
    max-width:150px
  }
}

.hot {
  display: inline-block;
  color: red;
  font-size: 10px;
  transform: translate(0, -10px);
}
