<div class="top">
  <mat-toolbar color="primary">
    <img *ngIf="user?.avatarHash" class="profile-picture"
         src="https://trello-avatars.s3.amazonaws.com/{{user?.avatarHash}}/50.png"
         alt="{{user?.fullName}}">
    <span>{{user?.fullName}}</span>
  </mat-toolbar>


  <mat-list>

    <h3 mat-subheader>Menu</h3>
    <button mat-menu-item mat-list-item *ngFor="let item of navigation" routerLink="{{item.link}}">
      <mat-icon>{{item.icon}}</mat-icon>
      {{ item.text }}
      <span *ngIf="item.hot" class="hot">NEW</span>
    </button>
    <mat-divider></mat-divider>


    <h3 mat-subheader>Cards</h3>
    <button mat-menu-item mat-list-item (click)="activeSearch = !activeSearch">
      <mat-icon>search</mat-icon>
      Search
    </button>
    <app-search *ngIf="activeSearch"></app-search>

    <app-over-due-area mat-list-item></app-over-due-area>
    <app-no-due-area mat-list-item></app-no-due-area>

    <mat-divider class="spacer1"></mat-divider>


    <button mat-menu-item mat-list-item (click)="start.close()">
      <mat-icon>close</mat-icon>
      Close Menu
    </button>
  </mat-list>
</div>

<div class="bottom">
  <a href="https://www.w11k.de/" target="_blank">
    <img src="assets/w11k/R0_G0_B200/W11K_Logo_zweizeilig_unten_blau_rgb.png" alt="">
  </a>
</div>
