<div class="navigation">
  <button (click)="previous()">Previous</button>

  {{current}}

  <button (click)="next()">Next</button>
  <button (click)="toggleMode()">Show {{calendarType === CalendarType.Month ? "Week" : "Month"}}</button>
  <button (click)="toToday()">TODAY</button>
</div>


<app-over-due-area></app-over-due-area>

<div class="wrap">
  <app-calendar-toolbar></app-calendar-toolbar>
  <ng-container [ngSwitch]="calendarType">
    <ng-container *ngSwitchCase="CalendarType.Month">
      <app-calendar-day-month *ngFor="let day of calendar$ | async" [calendarDay]="day"></app-calendar-day-month>
    </ng-container>
    <ng-container *ngSwitchCase="CalendarType.Week">
      <app-calendar-day-week *ngFor="let day of calendar$ | async" [calendarDay]="day"></app-calendar-day-week>
    </ng-container>
  </ng-container>
</div>


<app-calendar-footer></app-calendar-footer>

