@import '~@angular/material/theming';
@import '../../../material/theme';

$remove-due-background: mat-color($mat-trello-business, A100);
$remove-due-font: mat-contrast($mat-trello-business, A100);

$archive-card-background: mat-color($mat-trello-business, 100);
$archive-card-font: mat-contrast($mat-trello-business, 100);

:host {
  position: fixed;
  width: 80%;
  top: 0;
  left: 10%;
  z-index: 100;
}

.removeDue,
.archiveCard,
.markDone {
  width: 33%;
  height: 100px;
  background: $remove-due-background;
  color: $remove-due-font;
  float: left;
  text-align: center;
  line-height: 100px;
  margin-top: 10px;
}

.removeDue {
  border-right: none;
  background: $archive-card-background;
  color: $archive-card-font;
}

.markDone {
  background: lighten($remove-due-background, 2%);
  color: $remove-due-font;
}
