<ion-view title="Card Details">
    <ion-content class="has-header padding cardSingle">
        <div class="single">
            <div class="panel panel-primary dark"><div class="panel-heading"> {{data.name}}
                <small class="pull-right">
                    Board: <a ng-href="{{data.boardUrl}}">{{data.boardName}}</a>
                    | last modified: {{ data.dateLastActivity |
                    date:'dd.MM.yyyy  HH:mm'}}
                            <span ng-if="data.due">|
                                <strong >expires: {{data.due | date:'dd.MM.yyyy  HH:mm'}}</strong>
                            </span> |

                    <a ng-href="{{data.shortUrl}}"> <i class="icon ion-share"> open in Trello</i></a>

                </small>


            </div>
                <div class="panel-body">
                    <div class="desc"  ng-if="data.desc">
                        {{ data.desc || 'no description' }}


                    </div>

                    <i class="ion-close-circled closeBtn" ng-click="close()" ng-if="showComments || showAttachments"></i>
                    <div class="comments" ng-if="showComments">
                        <storng>Comments:</storng>

                        <div class="item" ng-repeat="comment in data.comments">
                            {{comment.data.text}}
                            {{comment.memberCreator.fullName}}
                            {{comment.memberCreator.id}}
                            {{comment.memberCreator.initials}}
                            {{comment.date}}
                        </div>
                    </div>


                    <div class="attachments" ng-if="showAttachments">
                        <storng>Attachments:</storng>
                        <div class="item" ng-repeat="attachment in data.attachments">
                            {{attachment}}

                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="inner">
                        <div class="btn-group">
                            <button class="btn btn-primary" type="button" ng-click="getComments()">
                                <i class="icon ion-chatbox"></i>
                                <span ng-if="data.badges.comments<2">Comment</span>
                                <span ng-if="data.badges.comments>=2">Comments</span>

                                <span class="badge">{{data.badges.comments}}</span>
                            </button>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-primary" type="button"  ng-click="getAttachments()">
                                <i class="ion-paperclip"></i>  <span ng-if="data.badges.attachments<2">Attachment</span>
                                <span ng-if="data.badges.attachments>=2">Attachments</span><span class="badge">{{data.badges.attachments}}</span>
                            </button>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-primary" type="button" ng-click="archiveCard(data.id)">
                                <i class="icon ion-trash-b"></i>  archive
                            </button>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-primary" type="button">
                                <i class="icon ion-clock"></i>  change due date
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" ng-click="getMembers(data.idBoard)"><i class="icon ion-person-add"></i> Get Members</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>