<form>
    <md-input-container>
        <label for="testInput">Card/Board Name...</label>
        <input type="text" id="testInput"
               ng-model="search" md-autofocus>
    </md-input-container>
</form>
<div class="nav">
    <div>
        <div ng-repeat="card in cards  | filter: search">
            <md-toolbar draggable="true" class="dayCard md-primary" id="{{::card.id}}-{{card.badges.due | date : 'H,m,s' : timezone}}" ng-style="card.color" style="padding:5px;">
                <div class="title"> <a ng-href="{{::card.url}}" target="_blank">{{::card.name |cut:true:35}}</a></div>
                <div class="board"> <a ng-href="{{::card.boardUrl}}" target="_blank"><span class="boardName">{{::card.boardName|cut:true:20}}</span></a>  | <span>{{card.badges.due | date : "HH:mm" : timezone}}</span></div>
            </md-toolbar>
        </div>

    </div>

</div>
