<section class="material-design-hamburger " flex layout="row" layout-align="space-between center">

        <md-button hide-gt-lg title="Open Menu" target="_blank" aria-label="Open Menu" class="md-icon-button" ng-click="toggleSidenav('left')">
            <ng-md-icon icon="menu" class="md-toolbar-tools ng-md-icon" style="fill: #fff" size="32"></ng-md-icon>
        </md-button>

    <h2 class="md-toolbar-item noPadding" hide show-gt-lg ng-click="toHome()" style="margin-left:304px">
            <span class="md-breadcrumb-page  md-title">Calendar for
                <img style="float:right;padding-left:10px;margin-top:4px" src="https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png"/></span>
        </h2>

        <span flex></span>
    <span ng-if="offline"><h2>Offline</h2></span>
        <md-menu md-position-mode="target-right target" style="padding:0px;margin:0px">
            <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <ng-md-icon icon="more_vert" class="md-toolbar-tools ng-md-icon" style="fill: #fff"
                            size="32"></ng-md-icon>
            </md-button>
            <md-menu-content width="4" >

                <md-menu-item ng-repeat="item in actions">
                    <md-button ng-click="listItemClick(item.identifier)">
                        <div layout="row">
                            <p flex>{{item.name}}</p>
                            <ng-md-icon class="ng-md-icon" icon="{{item.icon}}" style="fill: #666"
                                        size="24"></ng-md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item ng-repeat="item in more">
                    <md-button ng-click="listItemClick(item.identifier)">
                        <div layout="row">
                            <p flex>{{item.name}}</p>
                            <ng-md-icon class="ng-md-icon" icon="{{item.icon}}" style="fill: #666"
                                        size="24"></ng-md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>

        </md-menu>

        <md-button title="Open Search" aria-label="Open Search" class="md-icon-button" ng-click="toggleRight()">
            <ng-md-icon icon="search" class="md-toolbar-tools ng-md-icon" style="fill: #fff" size="32"></ng-md-icon>
        </md-button>

    </section>
