

    <md-subheader class="md-no-sticky"><i>Welcome, <strong style="font-weight: 600;">{{name}}</strong>.</i></md-subheader>

    <md-list-item ng-click="goTo('month')">
        <ng-md-icon icon="today" style="fill: #666" size="24"></ng-md-icon>
        <div class="md-list-item-text">
            <p> Month </p>
        </div>
    </md-list-item>

    <md-list-item ng-click="goTo('settings')">
        <ng-md-icon icon="settings" style="fill: #666" size="24"></ng-md-icon>
        <div class="md-list-item-text">
            <p> Settings </p>
        </div>
    </md-list-item>


    <md-list-item ng-click="goTo('boards')">
        <ng-md-icon icon="my_library_books" style="fill: #666" size="24"></ng-md-icon>
        <div class="md-list-item-text">
            <p> Board Settings </p>
        </div>
    </md-list-item>

    <md-list-item ng-click="goTo('about')">
        <ng-md-icon icon="info" style="fill: #666" size="24"></ng-md-icon>
        <div class="md-list-item-text">
            <p> About </p>
        </div>
    </md-list-item>