<md-subheader class="md-no-sticky" style="background-color: #EDEFF4"><i>Welcome, <strong style="font-weight: 600;">{{name}}</strong>.</i>
</md-subheader>

<div ng-hide="!overduedCards.length" style="margin:15px;">
    <div class="overdued md-whiteframe-z1" ng-style="overduedHeader" layout="row" ng-click="openCardOverdued();">
        <div style="margin-top: 0px">
            <ng-md-icon ng-style="overduedIcon" icon="warning" size="24"></ng-md-icon>
        </div>
        <div ng-style="overduedTitle" style="margin-top:4px">There are overdued Cards!</div>
    </div>
    <div ng-style="overduedContent" class=" nav card-content" id="{{day.date | date: 'yyyy,MM,dd,'}}"
         ui-sortable="sortableOptions" ng-model="cards">

        <div ng-animate="'animate'"
             ng-repeat="card in overduedCards=(cards |filter: isOverdue|filter: cardSelected)|orderBy:'due'"
             layout="row" class="md-whiteframe-z1 holeCard">
            <div style="background-color:{{card.color}};display:block;">&nbsp&nbsp&nbsp
            </div>
            <md-toolbar class="dayCard md-primary" id="{{::card.id}}-{{card.badges.due | date : 'H,m,s' : timezone}}"
                        style="float:right;overflow:hidden;white-space: nowrap;">
                <a class="title" target="_blank" title="{{::card.name}}" ng-href="{{card.shortUrl}}"
                     style="width: 100%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;">
                    {{::card.name}}
                </a>
                <span style="color: dimgrey;">in list <span style="font-style: italic;">{{card.listName}}</span></span>
                <div class="board"><a ng-href="{{::card.boardUrl}}" target="_blank">
                    <span class="boardName">{{::card.boardName|cut:true:25}}</span></a><span
                        style="float: right;color:black">{{card.due | date : "MMM d, y" : timezone}}</span></div>
            </md-toolbar>
        </div>
    </div>


</div>
<div ng-hide="!nodueCards.length" style="margin:15px;">
    <div class="nodue md-whiteframe-z1" ng-style="nodueHeader" layout="row" ng-click="openCardnoDue();">
        <div style="margin-top: 0px">
            <ng-md-icon ng-style="nodueIcon" icon="access_time" size="24"></ng-md-icon>
        </div>
        <div ng-style="nodueTitle" style="margin-top:4px">Cards without due date</div>
    </div>
    <div ng-style="nodueContent" class=" nav card-content" id="{{day.date | date: 'yyyy,MM,dd,'}}"
         ui-sortable="sortableOptions" ng-model="cards">


        <div ng-repeat="card in nodueCards=(cards |filter: isNoduedate|filter: cardSelected )|orderBy:'dateLastActivity'"
             layout="row" class="holeCard md-whiteframe-z1">
            <div style="background-color:{{card.color}};display:block ">&nbsp&nbsp&nbsp
            </div>
            <md-toolbar class="dayCard md-primary" id="{{::card.id}}-{{card.badges.due | date : 'H,m,s' : timezone}}"
                        style="float:right;overflow:hidden;white-space: nowrap;">
                <a class="title" title="{{::card.name}}" ng-href="{{card.shortUrl}}"
                     style="width: 100%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;">
                    {{::card.name}}
                </a>
                <span style="color: dimgrey;">in list <span style="font-style: italic;">{{card.listName}}</span></span>
                <div class="board"><a ng-href="{{::card.boardUrl}}" target="_blank">
                    <span class="boardName">{{::card.boardName|cut:true:25}}</span></a><span
                        style="float: right;color:black">{{card.due | date : "MMM d, y" : timezone}}</span></div>
            </md-toolbar>
        </div>

    </div>
</div>


<md-list-item ng-click="goTo('app/month')">
    <ng-md-icon icon="today" style="fill: #666" size="24"></ng-md-icon>
    <div class="md-list-item-text">
        <p> Month </p>
    </div>
</md-list-item>

<md-list-item ng-click="goTo('app/boards')">
    <ng-md-icon icon="my_library_books" style="fill: #666" size="24"></ng-md-icon>
    <div class="md-list-item-text">
        <p> Board Settings </p>
    </div>
</md-list-item>

<md-list-item ng-click="goTo('app/about')">
    <ng-md-icon icon="info" style="fill: #666" size="24"></ng-md-icon>
    <div class="md-list-item-text">
        <p> About </p>
    </div>
</md-list-item>




