<?xml version='1.0' encoding='utf-8'?>
<widget id="com.w11k.cal" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>w11k Trello Calendar</name>
    <description>
Calendar for Trello
    </description>
    <author email="info@w11k.de" href="http://www.w11k.de">
w11k.de
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <plugin name="InAppBrowser" value="CDVInAppBrowser" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashMaintainAspectRatio" value="true" />

    <platform name="android">
        <splash src="platforms/android/ant-build/res/drawable-land-hdpi/screen" density="port-hdpi"/>
        <splash src="platforms/android/ant-build/res/drawable-land-ldpi/screen" density="port-ldpi"/>
        <splash src="platforms/android/ant-build/res/drawable-land-mdpi/screen" density="port-mdpi"/>
        <splash src="platforms/android/ant-build/res/drawable-land-xhdpi/screen" density="port-xhdpi"/>
        <splash src="platforms/android/ant-build/res/drawable-port-hdpi/screen" density="port-hdpi"/>
        <splash src="platforms/android/ant-build/res/drawable-port-ldpi/screen" density="port-ldpi"/>
        <splash src="platforms/android/ant-build/res/drawable-port-mdpi/screen" density="port-mdpi"/>
        <splash src="platforms/android/ant-build/res/drawable-port-xhdpi/screen" density="port-xhdpi"/>
    </platform>
</widget>
