@import '~@angular/material/theming';
@import '../../../material/theme';

$day-border-color: mat-color($mat-gray, 300);
$day-background: mat-color($mat-gray, A100);
$day-offset-background: mat-color($mat-trello-business, 50);
$day-time-color: mat-color($mat-gray, 500);

$day-primary: mat-color($mat-trello-business, 500);

.eqWrap {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 14.28%;
  border-left: 1px solid $day-border-color;
  padding-right: 2px;
  padding-left: 2px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.nighttime{
  background-color: lightgray;
}

@for $i from 1 through 7 {
  .basis#{$i} {
    width: 100% / $i;
  }
}

.slot {
  min-height: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.collapse {
  min-height: 0px;
}

.nighttime{
  background-color: lightgray;
}

.inner {
  //padding: 25px 3px 0;
  flex: 1 0 auto;
  border: 1px solid transparent;
  &.dnd-drag-over {
    border-color: #4d4d4d;
    border-style: dashed;
  }
}


.time {
  font-size: 11px;
  color: $day-time-color;
}

.weekHeader {
  text-align: right;
  margin-bottom: -20åpx;
  z-index: 1;

  .slot {
    z-index: 1;
    height: 20px;

    &.today {
      font-weight: bold;
      color: $day-primary;
    }
  }
}
