:host {
  width: 14.28%;
  min-height: 100px;
  background: #d1f3f6;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.dropZone {
  flex: 1 0 auto;
  background: limegreen;

}

.weekday {
  background: #2bbcff;
}
