:host {
  width: 14.28%;
  min-height: 100px;
  background: #fff;
  border-left: 1px solid #DFDFDF;
  border-top: 1px solid #DFDFDF;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  position: relative;
}

.dropZone {
  padding: 25px 3px 0;
  flex: 1 0 auto;
}

.day {
  position: absolute;
  top: 3px;
  right: 3px;
}

.weekday {
  background: #2bbcff;
}

.offsetDay {
  background: #EDEFF4 !important;
}

:host(.offsetDay) {
  background: #EDEFF4 !important;
}

:host(.today) {
  border-top: 5px #42548E solid;
  .day {
    font-weight: bold;
    color: #42548E;
  }
}

