<!DOCTYPE html>
<html ng-controller="AppCtrl">
<head>
    <base href='/'>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-61728009-5', 'auto');
        ga('send', 'pageview');

    </script>
    <meta name="viewport" content="initial-scale=1"/>
    <!--
    use for mobile deployment
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <!---->
    <link rel="icon" type="image/png" href="assets/images/icon.png">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>
</head>

<body layout="row" flex layout-fill style="overflow: hidden" ng-keypress="keyHandler()">
<base href="/"/>
<div ui-view="headerView" style="overflow: auto;width:100%;height:100%;"></div>
<!--Each Element of the app will be injected here -->
<!--
enable before building as mobile app
<script src="cordova.js"></script>-->


<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog aria-label="Mango (Fruit)" ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Calendar for Trello -
                        <small>by <a href="http://www.w11k.de/" target="_blank">w11k GmbH</a> & <a
                                href="http://www.theCodeCampus.de/">theCodeCampus</a> (vers.: 0.1.46)
                        </small>
                    </h2>

                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">


                    <div layout="row" class="row">
                        <div>
                            <!--<h1 class="md-headline">Connect to Trello!</h1>-->
                            <h2 class="md-subhead">Lets get started - connect to Trello</h2>

                            <p>Trello is a productivity tool that helps you to organize projects by creating individual
                                lists, boards and cards.
                                Manage your projects in teams, get more flexible and improve your workflow. </p>
                            <p>
                                The Trello Calendar extends Trello and allows you to organize cards across multiple
                                boards within one calendar view.
                            </p>

                            <p>
                                This calendar is open source and available at <a
                                    href="https://github.com/w11k/trello-calendar" rel="_blank">GitHub.</a>
                            </p>

                            <p>
                            <h1 class="md-subhead">Disclaimer</h1>
                            <small>
                                We are not affiliated, associated, authorized, endorsed by or in any
                                way officially connected to <a href="http://www.trello.com" target="_blank">Trello,
                                Inc</a>.
                                All of your data will be stored locally and <strong>nothing</strong> will be transfered
                                to our server.
                            </small>
                            </p>
                        </div>


                        <div>
                            <img src="assets/images/calendar-sm.png" alt="" class="img-responsive img">

                        </div>
                    </div>


                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">


                <md-button class="md-raised md-primary resetToDefault " ui-sref="trello.app.month">Lets get started -
                    Connect to Trello
                </md-button>


        </form>
    </md-dialog>
</script>


<% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>

<script>

    moment.locale("en", {week: {dow: 1}});

    function bootstrapAngular() {
        var domElement = document.querySelector('html');
        angular.bootstrap(domElement, ['<%= angular_module %>']);
    }
    if (document.URL.indexOf('http://') === -1 && document.URL.indexOf('https://') === -1) {
        // URL: Running in Cordova/PhoneGap
        document.addEventListener("deviceready", bootstrapAngular, false);

        //start with week when running as app first time

        if (localStorage.getItem('w11ktrello.startMonth') === null) {
            localStorage.setItem('w11ktrello.startMonth', false)

        }


    } else {
        //URL: Running in browser
        bootstrapAngular();
    }
</script>


</body>
</html>

