<!DOCTYPE html>
<html>
<head>
    <title>w11kcal</title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!--
  IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
  For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
-->
    <!--[if lt IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
    </script>
    <![endif]-->

</head>

<body ng-app="<%= angular_module %>">

<ion-nav-view animation="no-animation"></ion-nav-view>



<% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script>

<% }); %>
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>

</body>
</html>



