/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "material/index";

@include mat-core();
@include angular-material-theme($trello-app-theme);


html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  background: mat-color($md-gray, 50);
  display: flex;
  flex-direction: column;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.md-hint {
&.error {
   color: red;
 }
}

.md-sidenav-focus-trap > .cdk-focus-trap-content {
  display: flex;
  align-items: stretch;
}

html, body {
  min-height: 100%;
}

md-sidenav-layout {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

//Fix width of Select Label
span.mat-select-placeholder.mat-floating-placeholder {
  width: auto !important;
}

*[dnd-droppable] {
  cursor: inherit !important;
}
