/* You can add global styles to this file, and also import other style files */
@import "material/theme";
@import '~@angular/material/core/theming/theming';

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  background: md-color($md-gray, 50);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.md-hint {
  &.error {
    color: red;
  }
}
