<md-toolbar ui-view="header" class="header md-whiteframe-z3" layout="row" class="headBar"
            md-swipe-right="openSidenav('left')" md-swipe-left="closeSidenav('left')"
            style="height: 62px;position:fixed;">
    <h2 class="md-toolbar-tools" style="position: relative;" ng-click="toHome()">Calendar for
        <img style="float:right;padding-left:10px;"
             src="https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png"/>
    </h2>

</md-toolbar>
<md-content class="content" style="margin: 16px;margin-top:62px">
    <h1 class="md-headline">Calendar for Trello -
        <small>by <a href="http://www.w11k.de/" target="_blank">w11k GmbH</a> & <a
                href="http://www.theCodeCampus.de/">theCodeCampus</a></small>
    </h1>
    <h6 style="font-size=20px">(vers.: 0.1.25)</h6>

    <p>Trello is a productivity tool that helps you to organize projects by creating individual lists, boards and cards.
        Manage your projects in teams, get more flexible and improve your workflow.</p>

    <p>The w11k Trello Calendar allows you to organize all cards of all boards in one calendar.
        Trello Calendar is Open Source and available at <a href="https://github.com/w11k/trello-calendar" rel="_blank">GitHub.</a>
    </p>

    <h1 class="md-headline">Feature Requests</h1>

    <p>
        This Trello Calendar is under heavy development. Feel free to submit feature requests or bug reports to our
        GitHub Repository or directly to
        <a href="http://www.w11k.de/">w11k GmbH.</a>
    </p>

    <h1 class="md-headline">Development</h1>
    <a href="https://github.com/w11k/calendar-for-trello/issues" target="_blank">Check our Issues on GitHub</a>

    <h2 class="md-headline">Disclaimer</h2>

    <p>
        We are not affiliated, associated, authorized, endorsed by or in any
        way officially connected to <a href="http://www.trello.com" target="_blank">Trello, Inc</a>.
    </p>

    <div style="margin-top: 62px">
        <ul class="button">
            <li ng-repeat="item in menu">
                <a ui-sref="trello.app.month">Go to the Trello Calendar</a>
            </li>
        </ul>

    </div>
</md-content>


