{{calendarDay.date | date: "d"}}

<div class="weekday">


  <div *ngFor="let slot of slots"
       dnd-droppable
       (onDropSuccess)="onDropSuccess($event, slot.time)"
       (onDragSuccess)="onDropSuccess($event, slot.time)">

    <!--<div *ngFor="let slot of slots" class="slot"-->
    <!--dnd-sortable-container [sortableData]="slot.cards"-->
    <!--(onDropSuccess)="onDropSuccess($event, data)"-->
    <!--(onDragSuccess)="onDropSuccess($event, data)">-->

    <!--
 currently "drag" and dropable is enabled while sortable could fit better but is currently now throwing the success event:
 https://github.com/akserg/ng2-dnd/issues/45
 todo: evaluate sortable when issue is closed
-->

    {{slot.time}}
    <app-calendar-card
      *ngFor="let card of slot.cards; let x = index"
      [dragData]="card" [card]="card"
      [dragEnabled]="true"
      dnd-draggable>
    </app-calendar-card>

    <!--<app-calendar-card-->
    <!--*ngFor="let card of slot.cards; let x = index"-->
    <!--[dragData]="card" [card]="card"-->
    <!--dnd-sortable [sortableIndex]="x" [dragEnabled]="true"   >-->
    <!--</app-calendar-card>-->


  </div>
</div>

