:host {
  padding: 5px 15px;
  display: block;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
}

.pull-right {
  float: right;
}
