@import '~@angular/material/theming';
@import "colors/trello-business-blue";

$linkColor: mat-color($mat-trello-business, 700);


a {
  text-decoration: none;
  color: saturate($linkColor, 100);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
