@import '~@angular/material/theming';

$linkColor: mat-color($md-trello-business, 700);


a {
  text-decoration: none;
  color: saturate($linkColor, 100);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
