@import '~@angular/material/theming';
@import "colors/trello-business-blue";
@import "colors/trello-red";
@import "colors/md_gray";

$trello-app-primary: mat-palette($mat-trello-business);
$trello-app-accent: mat-palette($mat-trello-red);
$trello-app-warn: mat-palette($mat-red);
$trello-app-theme: mat-light-theme($trello-app-primary, $trello-app-accent, $trello-app-warn);
