<!--<mat-card class="board-card">
  <mat-card-header>
    <mat-card-title>Language</mat-card-title>
    <mat-card-subtitle>Set your language</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div style="padding:10px">
      <mat-select placeholder="" [(ngModel)]="settings.language" (ngModelChange)="updateLang($event)">
        <mat-option *ngFor="let lang of languages" [value]="lang.key">{{lang.name}}</mat-option>
      </mat-select>

    </div>
  </mat-card-content>
</mat-card>-->
<mat-card class="board-card">
  <mat-card-header>
    <mat-card-title i18n="settings weekstart headline">Weekstart</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div style="padding:10px">
      <mat-radio-group class="week-start-radio-group" [(ngModel)]="settings.weekStart"
                       (ngModelChange)="updateWeekStart($event)">
        <mat-radio-button i18n="Settings weekstart Sunday" class="week-start-radio-button" [value]="WeekStart.Sunday">
          Sunday
        </mat-radio-button>
        <mat-radio-button i18n="Settings weekstart Monday" class="week-start-radio-button" [value]="WeekStart.Monday">
          Monday
        </mat-radio-button>
      </mat-radio-group>

    </div>
  </mat-card-content>
</mat-card><mat-card class="board-card">
  <mat-card-header>
    <mat-card-title i18n="Settings Weekend headline">Weekend</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

      <div style="padding:10px">
        <mat-checkbox i18n="Settings checkbox show weekend" [(ngModel)]="settings.showWeekend" (ngModelChange)="updateShowWeekend($event)">Show
          Weekend
        </mat-checkbox>
      </div>

  </mat-card-content>
</mat-card>



<mat-card class="board-card">
  <mat-card-header>
    <mat-card-title i18n="Settings week view headline">Week Views</mat-card-title>
    <mat-card-subtitle i18n="Settings week view description">Configure your week and work week view</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div style="padding:10px">
      <mat-checkbox i18n="Settings checkbox show hours" [(ngModel)]="settings.weekViewShowHours" (ngModelChange)="updateWeekviewShowHours($event)">Show
        hours
      </mat-checkbox>
    </div>

    <div style="padding:10px">
      <mat-select i18n-placeholder="Settings placeholder core labor time from" placeholder="Core labor time from" [(ngModel)]="settings.businessHoursStart"
                 (ngModelChange)="updateBusinessHoursStart($event)">
        <mat-option [value]="0">24 pm</mat-option>
        <mat-option [value]="1">1 am</mat-option>
        <mat-option [value]="2">2 am</mat-option>
        <mat-option [value]="3">3 am</mat-option>
        <mat-option [value]="4">4 am</mat-option>
        <mat-option [value]="5">5 am</mat-option>
        <mat-option [value]="6">6 am</mat-option>
        <mat-option [value]="7">7 am</mat-option>
        <mat-option [value]="8">8 am</mat-option>
        <mat-option [value]="9">9 am</mat-option>
        <mat-option [value]="10">10 am</mat-option>
        <mat-option [value]="11">11 am</mat-option>
        <mat-option [value]="12">12 am</mat-option>
      </mat-select>
    </div>

    <div style="padding:10px">
      <mat-select i18n-placeholder="Settings placeholder core labor time to" placeholder="to" [(ngModel)]="settings.businessHoursEnd"
                 (ngModelChange)="updateBusinessHoursEnd($event)">
        <mat-option [value]="13">1 pm</mat-option>
        <mat-option [value]="14">2 pm</mat-option>
        <mat-option [value]="15">3 pm</mat-option>
        <mat-option [value]="16">4 pm</mat-option>
        <mat-option [value]="17">5 pm</mat-option>
        <mat-option [value]="18">6 pm</mat-option>
        <mat-option [value]="19">7 pm</mat-option>
        <mat-option [value]="20">8 pm</mat-option>
        <mat-option [value]="21">9 pm</mat-option>
        <mat-option [value]="22">10 pm</mat-option>
        <mat-option [value]="23">11 pm</mat-option>
        <mat-option [value]="24">12 pm</mat-option>
      </mat-select>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="board-card">
  <mat-card-header>
    <mat-card-title i18n="Settings headline done cards">Done Cards</mat-card-title>
    <mat-card-subtitle i18n="Settings description done cards">Show cards which are marked as done</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div style="padding:10px">
      <mat-select placeholder="" [(ngModel)]="settings.includeDoneCards"
                 (ngModelChange)="updateIncludeDoneCards($event)">
        <mat-option i18n="Settings done cards checkbox show" [value]="true">Show</mat-option>
        <mat-option i18n="Settings done cards checkbox hide" [value]="false">Hide</mat-option>
      </mat-select>

    </div>
  </mat-card-content>
</mat-card>


<mat-card class="board-card">
  <mat-card-header>
    <mat-card-title i18n="Settings Board settings headline">Board Settings</mat-card-title>
    <mat-card-subtitle i18n="Settings board settings description">Hide/Display Boards and overwrite Trello Board Colors</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item *ngFor="let board of boards">
        <app-edit-board [board]="board"></app-edit-board>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
